{% extends '/admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Зарегистрированные пользователи </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_user_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <!--th>Версия</th-->
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Город</th>
                        <th>Дата регистрации</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            {% if user.profile is null %}
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            {% else %}
                                <td>{{ user.profile.name }}</td>
                                <td>{{ user.profile.secondName }}</td>
                                <td>{{ user.profile.city }}</td>
                            {% endif %}
                            <td>{{ user.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_user_edit', {id: user.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_user_delete',{id:user.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if users.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(users, 'twitter_bootstrap3_translated', {routeName: 'admin_user_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

