<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta charset="UTF-8">
    <title>Stommarket</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: 'Helvetica';
        }
    </style>
</head>
<body style="padding: 0; margin: 0;">
{% block content %}

{% endblock %}
</body>
</html>