{% extends 'front/email/layout.html.twig' %}

{% block content %}
    <div class="offers__complete complete" style="width:1000px;min-height:300px;padding: 38px 79px 45px;border: 1px solid #aaa;margin: 0 auto;">
        <div style="width: 100%;margin-bottom: 15px;">
            <a href="https://revuer.ru/" class="header__logo"  style="text-decoration: none;display: block;float: left;">
                <span style="background-image: url(https://revuer.ru/img/logo.png); width: 52px; height: 53px; content: ''; display: inline-block;"></span>
            </a>

            <div class="description__row" style="float: right;">
                <a href="https://vk.com/revuer" target="_blank" style="text-decoration: none;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 34px; height: 34px; content: ''; display: inline-block; background-position: 0 0;"></span>
                </a>
                <a href="https://www.facebook.com/revuer.ru/" target="_blank" style="text-decoration: none;margin-left: 10px;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 35px; height: 34px; content: ''; display: inline-block; background-position: -35px 0;"></span>
                </a>
                <a href="https://www.instagram.com/revuer.ru/" target="_blank" style="text-decoration: none;margin-left: 10px;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 35px; height: 34px; content: ''; display: inline-block; background-position: -70px 0;"></span>
                </a>
            </div><div style="content:'';clear: both;"></div>
        </div>
        <div class="complete__header" style="font-size: 16px;font-weight: 700;margin-bottom: 40px;line-height: 40px;">
            Для завершения регистрации на сайте <a href="https://nastavnik.me/">nastavnik.me</a>  пройдите по ссылке
            <a href="{{ app_url }}{{ path('confirm_regsitration', {'hash': hash}) }}">{{ app_url }}{{ path('confirm_regsitration', {'hash': hash}) }}</a>
        </div>
    </div>
{% endblock %}
