
{% extends 'front/email/layout.html.twig' %}

{% block content %}
    <div class="offers__complete complete" style="width:1000px;min-height:300px;padding: 38px 79px 45px;border: 1px solid #aaa;margin: 0 auto;">
        <div style="width: 100%;margin-bottom: 15px;">
            <a href="https://revuer.ru/" class="header__logo"  style="text-decoration: none;display: block;float: left;">
                <span style="background-image: url(https://revuer.ru/img/logo.png); width: 52px; height: 53px; content: ''; display: inline-block;"></span>
            </a>

            <div class="description__row" style="float: right;">
                <a href="https://vk.com/revuer" target="_blank" style="text-decoration: none;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 34px; height: 34px; content: ''; display: inline-block; background-position: 0 0;"></span>
                </a>
                <a href="https://www.facebook.com/revuer.ru/" target="_blank" style="text-decoration: none;margin-left: 10px;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 35px; height: 34px; content: ''; display: inline-block; background-position: -35px 0;"></span>
                </a>
                <a href="https://www.instagram.com/revuer.ru/" target="_blank" style="text-decoration: none;margin-left: 10px;">
                    <span style="background-image: url(https://revuer.ru/img/sprites.png); width: 35px; height: 34px; content: ''; display: inline-block; background-position: -70px 0;"></span>
                </a>
            </div><div style="content:'';clear: both;"></div>
        </div>
        <div class="complete__header" style="font-size: 16px;font-weight: 700;margin-bottom: 40px;line-height: 40px;">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="padding: 10px 10px 5px 10px;">
                        Ссылка для восстановления пароля на сайте nastavnik.me
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 10px 10px 10px">
                        <a href="{{ app_url }}/reset-password/{{ hash }}/" style="color: #2ba6cb;text-decoration: none;" target="_blank" rel=" noopener noreferrer">{{ app_url }}}/reset-password/{{ hash }}/</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 10px 10px 10px">
                        Ссылка будет доступна в течении дня.<br>
                        <br>
                        Внимание!<br>
                        * Письмо отправлено системой, отвечать на это письмо не нужно<br>
                        * Если Вы не регистрировались на этом сайте, просто проигнорируйте это письмо и удалите его.<br>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
