{% extends 'admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{app.request.query.get('weekId') is not null
                ? path('admin_week_edit',{id: app.request.query.get('weekId')})
                : path('admin_week_edit',{id: task.week.id}) }}"
                   class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> Назад к неделе</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование задания {{ task.title }}</h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ответы на задания</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Новый</th>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Обновлен</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in task.answers %}
                        <tr>
                            <td>{{ answer.adminNew ? '<i class="fa fa-envelope-o"></i>' : '<i class="fa fa-minus"></i>' }}</td>
                            <td>{{ answer.user.email }}</td>
                            <td>{{ answer.user.profile.name }}</td>
                            <td>{{ answer.user.profile.secondName }}</td>
                            <td>{{ answer.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_task_answer_edit', {id: answer.id}) }}"
                                       class="btn-primary btn btn-sm">Смотреть
                                    </a>
                                    {#<a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_task_delete',{id:course.id}) }}">
                                        Удалить
                                    </a>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}