{% extends '/admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Курсы </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="{{ path('admin_course_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить курс</a>
                    </div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_course_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Картинка</th>
                        <th>Название</th>
                        <th>Создан</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.id }}</td>
                            <td width="50px">
                                {% if course.image %}
                                    <img src="{{ course.image }}" alt="" width="50px">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_course_edit', {id: course.id}) }}">
                                    {{ course.title }}
                                </a>
                            </td>
                            <td>{{ course.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_course_edit', {id: course.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_course_delete',{id:course.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if courses.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(courses, 'twitter_bootstrap3_translated', {routeName: 'admin_course_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

