.authorization {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: $white;
  border-radius: 5px;

  padding: 35px 0px 75px 46px;

  &__title {
    @include font(19px, 'semibold');

    margin-bottom: 15px;
  }

  .authorization-form {
    
    &__block {
      display: flex;
  
      max-width: 473px;
      
      .authorization-form__field {
        margin-right: 23px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &__field {
      flex: 1;

      max-width: 473px;
    }

    &__field--deal {
      margin-right: 0 !important;
    }

    &__hint {
      display: block;

      margin-top: 8px;
      margin-bottom: 15px;

      @include font(9px, 'thin');
    }

    &__button {
      padding-left: 15px;
      padding-right: 15px;

      border: 1px solid $black;
    }
  }
}