
.courses{
	&__header{
		color: #bababa;
		font-size: 15px;
		font-weight: 500;
		line-height: 36px;
		height: 52px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.course{
		height: 120px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		margin: 8px 0;
		border-radius: 5px;
		padding: 32px 48px 36px 32px;
		display: flex;
		align-items: center;
		&__img-wrapper{
			width: 5%;
			float: left;
		}
		&__about{
			float:left;
			width:60%;
			padding-left: 20px;
		}
		&__actions{
			float: left;
			width: 35%;
			text-align: right;
		}
		&__img{
			display: inline-block;
			max-width: 100%;
		}
		&__title{
			color: #474747;
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			text-decoration: none;
		}
		&__teacher{
			color: #474747;
			font-size: 15px;
			font-weight: 400;
			line-height: 28px;
		}
		&__status, &__status a{
			color: #474747;
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			text-decoration:none;
		}
		&__date{
			color: #404040;
			font-size: 13px;
			font-weight: 400;
			line-height: 32px;
			font-family: 'Lato-Thin';
		}


	}
}