@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
       url('../../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
       url('../../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
       url('../../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/*@font-face {
  font-family: 'Circe-Regular';
  src: url('../../fonts/Circe-Regular.eot');
  src: url('../../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Circe-Regular.woff') format('woff'), /* Modern Browsers 
       url('../../fonts/Circe-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
*/
@mixin font($size, $type: 'regular') {
  @if $type == 'semibold' {
    font-family: 'Lato-Semibold';
  } @else if $type == 'thin' {
    font-family: 'Lato-Thin';
  } @else if $type == 'circe' {
    font-family: 'Circle-Regular';
  } @else if $type == 'light' {
    font-family: 'Lato-Light';
  } @else {
    font-family: 'Lato';
  }

  font-size: $size;
}