
.forget-password {
    max-width: 348px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    .forget-password-form {

        &__field {
            margin-bottom: 9px;
            max-width: 300px;
            margin: 0 auto;
            &:last-of-type {
                margin-bottom: 10px;
            }
        }
        &__title {
            margin-top: 24px;
            color: #474747;
            font-family: "Lato-Semibold";
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        &__links-wrapper {
            text-align: center;
        }

        &__link {
            color: #474747;
            font-family: Lato;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            text-decoration: underline;
            margin: 0 8px;
        }
    }
}