//Colors
$lblue: #c4cff2;
$blue: #99ace9;
$hblue: #53b0ff;
$dblue: #1e43ba;
$red: #fa5560;
$lgrey: #ddd;
.input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        font-size: 14px !important;
    }

    &:focus {
        border: 1px solid #d8d8d8;
        background: #fff;
    }

    &:hover {
        border: 1px solid #d8d8d8;
    }

    &.error {
        border: 1px solid $red;

    }

    &.active,&:active {
        background: #fff;
    }
}

.form {
    position: relative;
    &__btn {
        margin-bottom: 15px;
        border: 1px solid $black;
        color: $black;
        width: 100%;
        margin:15px auto;
        cursor: pointer;
        background-color: #ffffff;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 19px;
        padding-right: 19px;
        border-radius: 5px;
        border-color: #000000;
        font-family: 'Lato';
        font-size: 13px;
        outline: none;
        text-align: center;
    }
    &__error {
        color: #ef1c20;
        font-family: "Lato-Thin";
        font-size: 11px;
        font-weight: 400;
        line-height: 20.03px;
    }

    &__title {
        margin-top: 16px;
        color: #474747;
        font-family: "Lato-Semibold";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    &__group {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // file input
    &__file-input-b {
        position: relative;

        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            filter: alpha(opacity=0);
            opacity: 0;
            margin: 0;
            padding: 0;
        }

        a {
            .icon-clip {
                &:before {
                    font-size: 15px;
                }
            }
        }

        a > label {
            /* inherit the hand cursor from the a tag */
            cursor: inherit;
            border-bottom: 1px dotted #ddd;
        }

        a:hover {
            color: red;
        }
    }

    // text / textarea input
    &__select-input-b {
        .select2 {
            width: 100% !important;
        }

        .select2-selection {
            &--single {
                box-sizing: border-box;
                width: 100% !important;
                cursor: pointer;
                display: block;
                height: 50px;
                border-radius: 0px;
                user-select: none;
                -webkit-user-select: none;
            }

            &__arrow {
                top: 11px !important;
            }

            &__rendered {
                display: block;
                padding-top: 11px;
                padding-left: 8px;
                padding-right: 20px;
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__clear {
                position: relative;
            }
        }

        &[dir="rtl"] {
            .select2-selection--single {
                .select2-selection__rendered {
                    padding-right: 8px;
                    padding-left: 20px;
                }
            }
        }

        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:last-of-type {
            //margin-bottom : 0;
        }

        &:before {
            position: absolute;
            top: 17px;
            right: 13px;
            font-size: 14px;
            color: #00a651;
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-out;
        }

        &.valid {
            &:before {
                transition: all 0.2s ease-out;
                opacity: 1;
                visibility: visible;
            }
        }

        &--mb {
            &:last-of-type {
                margin-bottom: 20px;
            }

            margin-bottom: 20px;
        }
    }

    // text / textarea input
    &__text-input-b {
        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:last-of-type {
            //margin-bottom : 0;
        }

        &:before {
            position: absolute;
            top: 17px;
            right: 13px;
            font-size: 14px;
            color: #00a651;
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-out;
        }

        &.valid {
            &:before {
                transition: all 0.2s ease-out;
                opacity: 1;
                visibility: visible;
            }
        }

        &--mb {
            &:last-of-type {
                margin-bottom: 20px;
            }

            margin-bottom: 20px;
        }
    }

    &__text-input-label {
        color: #65a4e2;
        font-size: 18px;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 14px;
        transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

        span {
            font-family: sans-serif;
        }
    }

    &__text-input {
        @extend .input;
        display: block;
        outline: none;
        padding-top: 14px;
        transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

        &::-webkit-input-placeholder {
            color: rgba(174, 174, 174, 0);
        }

        &::-moz-placeholder {
            color: rgba(174, 174, 174, 0);
        }

        /* Firefox 19+ */
        &:-moz-placeholder {
            color: rgba(174, 174, 174, 0);
        }

        /* Firefox 18- */
        &:-ms-input-placeholder {
            color: rgba(174, 174, 174, 0);
        }

        & + .form__text-input-label {
            left: 10px;
            top: 14px;
        }

        &.active, &:focus {
            &::-webkit-input-placeholder {
                color: #aeaeae;
            }

            &::-moz-placeholder {
                color: #aeaeae;
            }

            /* Firefox 19+ */
            &:-moz-placeholder {
                color: #aeaeae;
            }

            /* Firefox 18- */
            &:-ms-input-placeholder {
                color: #aeaeae;
            }

            & + .form__text-input-label {
                top: 5px;
                font-size: 14px;
            }
        }

        &.valid {
            border: 1px solid #00a651;
            background: #fff;
        }

        &.error {
            border-color: $red;
            background: #fff;
        }

        &--textarea {
            min-height: 170px;
            height: auto;
            resize: vertical;
            line-height: 1.2;
            padding-top: 22px;
            padding-bottom: 14px;
            //max-height     : 34px;
        }
    }

    // radio input
    &__radio-input-b {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__radio-input-label {
        font-size: 20px;
        display: block;
        position: relative;
        padding-left: 24px;
        margin-bottom: 8px;

        &:last-child {
            //margin-bottom : 0;
        }

        &:before {
            position: absolute;
            left: 0;
            top: 4px;
            content: '';
            width: 16px;
            height: 16px;
            background: #848484;
            border: 4px solid #e0e0e0;
            display: block;
            border-radius: 50%;
            transition: all 0.2s ease-out;
        }
    }

    &__radio-input {
        display: none;

        &:checked {
            & + .form__radio-input-label {
                &:before {
                    background: #fff;
                    border: 4px solid #1e43ba;
                }
            }
        }
    }

    // checkbox input
    &__checkbox-input-b {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid transparent;

        &.valid {
            border: 1px solid #00a651;
        }

        &.error {
            border: 1px solid $red;
        }
    }

    &__checkbox-input-label {
        font-size: 20px;
        display: block;
        position: relative;
        padding-left: 24px;

        &:before {
            position: absolute;
            left: 0;
            top: 4px;
            content: '';
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid #c2c2c2;
            display: block;
            border-radius: 3px;
            transition: all 0.2s ease-out;
        }

        &--top {
            &:before {
                top: 0px;
            }
        }

        &--small {
            font-size: 14px;
        }
    }

    &__checkbox-input {
        display: none;

        &:checked {
            & + .form__checkbox-input-label {
                &:before {
                    background: #1e43ba;
                    border-color: #1e43ba;
                }
            }
        }
    }

    // number input
    &__number-input-b {
        position: relative;
        display: block;
        //max-width: 110px;
        &:hover {
            .form__number, .form__number-minus, .form__number-plus {
                border-color: #1e43ba !important;
            }
        }

        &--small {
            .form__number-input {
                height: 50px;
                width: 120px;
                padding: 0 38px;
                font-size: 30px;

                &-minus, &-plus {
                    font-size: 24px;
                    right: 0;
                    width: 34px;
                }
            }
        }
    }

    &__number-input {
        height: 50px;
        width: 154px;
        border-color: #aeaeae;
        padding: 0 48px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:focus {
            border-color: #1e43ba;

            & + .form__number-input-minus {
                border-right-color: #1e43ba;

                & + .form__number-input-plus {
                    border-left-color: #1e43ba;
                }
            }
        }

        &-minus {
            font-size: 34px;
            position: absolute;
            height: 50px;
            width: 44px;
            left: 0;
            top: 0;
            line-height: 53px;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid #aeaeae;
            transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            user-select: none;
            font-weight: bold;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            padding-top: 1px;

            &.maxed {
                cursor: default;
                color: #dbdbdb;

                &:active {
                    color: #dbdbdb;
                    background: none;
                }
            }

            &:active {
                background: #1e43ba;
                color: #fff;
                border-color: #1e43ba;
            }
        }

        &-plus {
            font-size: 34px;
            position: absolute;
            height: 50px;
            width: 44px;
            right: 0;
            top: 0;
            line-height: 53px;
            text-align: center;
            cursor: pointer;
            border-left: 1px solid #aeaeae;
            transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            user-select: none;
            font-weight: bold;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            padding-top: 1px;

            &.maxed {
                cursor: default;
                color: #dbdbdb;

                &:active {
                    color: #dbdbdb;
                    background: none;
                }
            }

            &:active {
                background: #1e43ba;
                color: #fff;
                border-color: #1e43ba;
            }
        }
    }


    &__input-b {
        margin-bottom: 10px;
        position: relative;
        display: block;
        padding-bottom: 20px;
    }

    &__input-name {
        font-size: 16px;
        display: block;
        color: #000;
        margin-bottom: 8px;
    }

    &__input-error {
        font-size: 12px;
        color: #f00;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &__input-textarea {
        height: 100px;
        max-height: 200px;
        resize: vertical;
        padding: 5px 10px;
    }

    &__input-text {
    }


    &__send-fail {
        font-size: 20px;
        text-align: center;
        color: $red;
        max-width: 500px;
        margin: 10px auto 0;
    }

}

.errors {
    color: red;
}