.header {
  min-height: 71px;
  max-width: 652px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {

    &__link {
      display: block;
    }

    &__img {
      height: 27px;
    }
  }

  .menu {
    display: flex;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 42px;

      &__search-icon {
        height: 12px;

        margin-right: 9px;
      }

      &__search-text {
        @include font(14px, 'thin');
      }
      
      &__notifications-icon {
        height: 18px;
      }

      &__avatar {
        height: 18px;
        
        border-radius: 50%;
        
        display: none;
      }

      &__page-text {
        @include font(14px, 'thin');
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__item--search {
      cursor: pointer;
    }

    &__item--search-box {
      position: relative;
      display: none;

      &__input {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: transparent;

        padding-left: 35px;

        @include font(14px, 'thin');

        min-width: 300px;
      }

      &__icon {
        position: absolute;
        left: 15px;
        top: 11px;

        max-height: 16px;
        max-width: 12px;
      }
    }
  }
}

.wrapper-chat-header {
  margin-bottom: 20px;
}

.header--login .menu__item--search-box {
  margin-right: 0;
}