.wrapper-auth {
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    height: 100vh;
    display:flex;
    align-items: center;
}

.login {
    max-width: 653px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    &__img {
        max-width: 320px;
        display: inline-block;
        padding-left: 29px;
    }
    .login-form {
        margin-top: 60px;
        margin-left: 30px;
        &__field {
            margin-bottom: 9px;

            &:last-of-type {
                margin-bottom: 10px;
            }
        }

        &__login, &__register {
            width: 100%;
        }

        &__login {
            margin-bottom: 11px;
            border: 1px solid $red;
            color: $red;
        }

        &__register {
            margin-bottom: 10px;
            border: 1px solid $black;
            color: $black;
        }

        &__demo {
            display: block;
            text-align: center;
            color: $black;
            text-decoration: none;
            @include font(13px);
        }
    }
}

