.vdpComponent.vdpWithInput > input {
    font-size: 14px;
}
.profile-wrapper {
    padding-top: 30px;
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
    .profile{
        padding:0;
    }
    .profile-form{
        margin: 0px auto;
        max-width: 475px;
        padding: 30px 0;
    }
}
.profile {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: $white;
    border-radius: 5px;
    padding: 35px 173px 75px 47px;

    &__title {
        @include font(19px, 'semibold');
        margin-bottom: 15px;
    }

    .profile-form {
        &__block {
            display: flex;
            margin-bottom: 19px;
            max-width: 473px;

            .profile-form__field {
                margin-right: 23px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        &__field {
            flex: 1;
            max-width: 473px;
        }

        &__field--deal {
            margin-right: 0 !important;
        }

        &__hint {
            display: block;
            margin-top: 8px;
            margin-bottom: 9px;
            @include font(9px, 'thin');
        }

        &__hint--textarea {
            margin-top: 6px;
        }

        &__button {
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid $black;
        }
    }
}