.progressbar{
	margin-top: 11px;
	display:flex;
	justify-content:space-between;
    &__item{
	    width:20px;
	    height:27px;
	    border-radius:4px;
	    -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.25);
	    -moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.25);
	    box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.25);
	    margin-right:3px;
	    &--success{
			background:#c3f49b;
	    }
	    &--blank{
			background:#fafafa;
	    }
	    &--fail{
		    background:#ff9899;
	    }
	    &--clock{
		    background:#fdf7e7;
	    }
    }
}