.tabs {
    &__nav {
        font-size : 0;
        letter-spacing : 0;
        margin-top: -40px;
    }
    &__link {

        cursor : pointer;
        &.active {
            border-bottom : 4px solid red;
        }
    }
    &__tab {
        display : none;
        &.active {
            display : block;
        }
    }

}