.user{
	background-color:$white;
	padding-top:37px;
	padding-bottom:27px;
	margin-bottom:12px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);
	.logo-wrapper{
		display:inline-block;
		margin-left: 40px;
		margin-bottom: 32px;
	}
	.logo{
		width: 100px;
	}
	&-wrapper{
		margin:0 auto;
		display:flex;
		justify-content:left;
		position:relative;
		padding:0 40px;
	}
	&__avatar{
		height:93px;
		width:93px;
		border-left-color:$white;
		border-radius:50%;
		padding:1.5px;
		margin-right:23px;
		display:inline-block;
		position:relative;
		box-sizing:content-box;
		cursor:pointer;
		&__img{
			display:block;
			height:93px;
			border-radius:50%;
		}

	}
}

.user-caption{
	padding-top: 17px;
	&__name{
		display:block;
		@include font(16px, 'semibold');
		margin-bottom:6px;
	}

	&__place, &__profession{
		display:block;
		@include font(12px, 'thin');
		color:$tundora;
	}

	&__place{
		margin-bottom:4px;
	}

	&__profession{
		margin-bottom:6px;
	}

	&__description{
		line-height:21.88px;
		margin-bottom:8px;
		font-size: 15.2px;
	}

	&__trigger{
		@include font(12px, 'light');
		color:$silver;
	}

	&__controls{
		position:absolute;
		top: 22px;
		right: 42px;
		display:flex;
		&__item{
			display:flex;
			align-items:center;
		}
		&__img{
			height:17.6px;
			position:relative;
			bottom:1px;
		}

		&__text{
			@include font(15px, 'circe');
			color:$red;
		}
	}
}
.user__progress{
	margin-top:5px;
	&-title{
		text-align:right;
		@include font(14px, 'thin');
	}
}
