.weeks{
    .week{
        display:block;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: #ffffff;
        margin: 4px 0;
        color: #474747;
        padding-left: 38px;
        padding-right: 48px;
        text-decoration:none;
        &__header{
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__icons{
            display: flex;
            align-items: center;
        }
        &__messages{
            display: flex;
            align-items: center;
            margin-right: 16px;
            img{
                animation: blink 2s linear infinite;
            }
            @keyframes blink { 0% { opacity:1; } 50% { opacity:0; } 100% { opacity:1 } }
        }
        &__messages-count{
            color: #ff9899;
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
            margin-right: 4px;
        }
        .arrow{
            width: 15.5px;
            height: 9.5px;
            background: url(../../img/arrow-down.png) center center;
        }
        &.open{
            .arrow{
                transform:rotate(180deg);
            }
            .week__title{
                color: red;
            }
        }
        &.disabled{
            .week__title{
                color: #bababa;
            }

        }
        &__title{
            font-family: 'Lato-Semibold';
            font-size: 16.5px;
            font-weight: 400;
            line-height: 30px;
        }
        &__description{
            width: 576px;
            color: #bababa;
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
        }
        &__days{
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            border-bottom : 3.2px solid #ccc;
        }
        &__day{
            display: block;
            text-decoration: none;
            margin-bottom:-3.2px;
            &.active {
                border-bottom : 3.2px solid red;
            }
        }
        &__day-icon-wrapper{
            text-align: center;
        }
        &__day-icon{
            transform: scale(0.8);
        }
        &__day-title{
            color: #474747;
            font-family: "Lato-Semibold";
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
        &__day-content{
            display : none;
            padding: 40px 0;
            &.active {
                display : block;
            }
        }
        .task-content{
            &__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
            }
            &__description{
                width: 585px;
                color: #474747;
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                padding-top: 4px;
                padding-bottom: 8px;
            }
            &__form-init{
                display:none;
                &.active{
                    display:block;
                }
            }
            &__form{
                padding-bottom:32px;
                padding-top: 32px;
                //display:none;
                &.active{
                    display:block;
                }
            }
            &__images{
                margin: 16px 0;
            }
            &__image{
                width: 56px;
                margin-right: 8px;
                border: 1px solid #0C7FCC;
                border-radius:4px;
            }
            .form__group{
                display:flex;
                flex-direction: row;
            }
            /*label {
                display:inline-block;
                cursor: pointer;
                height: 32px;
                border-radius: 4px;
                border: 1px solid #dcdcdc;
                background-color: #ffffff;
                color: #000000;
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 4px 9px;
                margin-top: 14px;
            }
            .inputfile {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }*/
        }
    }
}