{% extends '/admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Курсы </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    
                    <div class="col-sm-3">
                        <form action="{{ path('admin_activation_request_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Курс</th>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Создан</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activationRequest in activationRequests %}
                        <tr>
                            <td>{{ activationRequest.id }}</td>
                            <td>{{ activationRequest.course.title }}</td>
                            <td>{{ activationRequest.user.email }}</td>
                            <td>{{ activationRequest.user.profile.name }}</td>
                            <td>{{ activationRequest.user.profile.secondName }}</td>
                            <td>{{ activationRequest.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    {% if activationRequest.active == false %}
                                        <a class="btn btn-primary btn-sm" href="{{ path('admin_activation_request_activate',{id:activationRequest.id}) }}">Активировать</a>
                                    {% else %}
                                        <a class="btn btn-warning btn-sm" href="{{ path('admin_activation_request_deactivate',{id:activationRequest.id}) }}">Деактивировать</a>
                                    {% endif %}
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_activation_request_delete',{id:activationRequest.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if activationRequests.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(activationRequests, 'twitter_bootstrap3_translated', {routeName: 'admin_activation_request_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

