{% extends 'admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{app.request.query.get('courseId') is not null
                ? path('admin_course_edit',{id: app.request.query.get('courseId')})
                : path('admin_course_edit',{id: week.course.id})}}" class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> Назад к курсу</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование недели {{ week.title }}</h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="{{ path('admin_task_add',{weekId: week.id}) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить задание</a>
                    </div>
                </div>
                {% if week.tasks %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Создан</th>
                            <th>Deadline</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in week.tasks %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_task_edit', {id: task.id,weekId: week.id}) }}">
                                        {{ task.title }}
                                    </a>
                                </td>
                                <td>{{ task.createdAt|date("d.m.yг. H:i")}}</td>
                                <td>{{ task.deadline|date("d.m.yг. H:i")}} ({{ task.day }})</td>
                                <td>
                                    <div class="actions">
                                        <a href="{{ path('admin_task_edit', {id: task.id,weekId: week.id}) }}"
                                           class="btn-primary btn btn-sm">Редактировать
                                        </a>
                                        <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_task_delete',{id:task.id}) }}">
                                            Удалить
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}