{% extends 'admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{path('admin_task_answer_index')}}" class="btn btn-warning"></i> Назад к списку ответов</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Просмотр домашнего задания</h5>
            </div>
            <div class="ibox-content">
                <div class="task-content__images js-images">
                    {% if taskAnswer.hasImages %}
                        <h3>Прикрепленные картинки</h3>
                        <div class="row" style="margin:50px 0;">
                            {% for key,image in taskAnswer.answerImages %}
                                <div class="col-sm-3">
                                    <a href="{{ image.filepath }}" data-lightbox="example" ><img class="img-responsive" src="{{ image.filepath }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}