{% extends '/admin/layouts/admin.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Курсы</h5>
            </div>
            <div class="ibox-content">
                <div class="js-tree">
                    <ul>
                        {% for course in courses %}
                            <li data-jstree='{"opened" : true }'>{{ course.title }}
                                {% for week in course.weeks %}
                                    <ul>
                                        <li data-jstree='{{ week.isCurrent ? '{ "opened" : "true" }' : '' }}'>Неделя {{ week.number }}
                                            <ul>
                                            {% for task in week.tasks %}
                                                <li data-jstree='{{(week.isCurrent and task.isCurrent) or (task.id == app.request.query.get('taskId',NULL))  ? '{ "opened" : "true" }' : '' }}'> {{ task.day }}
                                                    <ul>
                                                        <li data-jstree='{{(app.request.query.get('new',99) == 1) and (task.id == app.request.query.get('taskId',NULL))  ? '{ "opened" : "true","selected" : "true","icon" : "fa fa-file-o" }' : '{"icon" : "fa fa-file-o"}' }}'>
                                                            <a href="?taskId={{ task.id }}&new=1">Новые</a>
                                                        </li>
                                                        <li data-jstree='{{(app.request.query.get('new',99) == 0) and (task.id == app.request.query.get('taskId',NULL))  ? '{ "opened" : "true","selected" : "true","icon" : "fa fa-file-o" }' : '{"icon" : "fa fa-file-o"}' }}'>
                                                            <a href="?taskId={{ task.id }}&new=0">Проверенные</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% endfor %}}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ответы на задания {{ task is defined ? '('~task.day~')': ''}}</h5>
            </div>
            <div class="ibox-content">
                {#<div class="row">
                    <div class="col-lg-12">
                        {% for course in courses %}
                            <a href="?course={{ course.id }}" class="btn
{{ app.request.query.get('course') == course.id ? 'btn-danger' : 'btn-primary'}} ">{{ course.title }}</a>
                        {% endfor %}
                    </div>
                </div>#}
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Проверил(а)</th>
                        <th>Новый</th>
                        <th>Курс</th>
                        <th>День</th>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Обновлен</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for answer in taskAnswers %}
                        <tr>
                            <td style="width:30px">
                                {% if answer.editor  %}
                                    {{ answer.editor.profile.name }} {{ answer.editor.profile.secondName }}
                                {% else %}
                                    <i class="fa fa-minus"></i>
                                {% endif %}
                            </td>
                            <td>{{ answer.adminNew ? '<i class="fa fa-envelope-o"></i>' : '<i class="fa fa-minus"></i>' }}</td>
                            <td>{{ answer.task.course.title }}</td>
                            <td>{{ answer.task.day }}</td>
                            <td style="width:20px" width="20">{{ answer.user.email }}</td>
                            <td  width="30">{{ answer.user.profile.name }} {{ answer.user.profile.secondName }}</td>
                            <td>{{ answer.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_task_answer_edit', {id: answer.id}) }}"
                                       class="btn-primary btn btn-sm">Смотреть
                                    </a>
                                    {#<a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_task_delete',{id:course.id}) }}">
                                        Удалить
                                    </a>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if taskAnswers.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(taskAnswers, 'twitter_bootstrap3_translated', {routeName: 'admin_task_answer_index','routeParams': app.request.query.all}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

