// fonts
@import './partials/fonts.scss';
// // libs
@import '~normalize.css/normalize.css';
@import './libs/featherlight.min.css';
// // utils
@import './partials/variables.scss';
// partials
@import './partials/header.scss';
@import './partials/user.scss';
@import './partials/courses.scss';
@import './partials/login.scss';
@import './partials/profile.scss';
@import './partials/authorization.scss';
@import './partials/forms.scss';
@import './partials/register.scss';
@import './partials/forget-password.scss';
@import './partials/reset-password.scss';
@import './partials/week.scss';
@import './partials/progressbar';
@import "../../node_modules/toastr/toastr.scss";

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}
*{
	box-sizing:border-box;
}
a{
	outline: none;
	&.disabled{
		pointer-events: none !important;
		cursor: default;
		color:Gray;
	}
}
.container{
	width:776px;
	margin:0 auto;
	position:relative;

}
.label{
	padding: 3px 8px;
	border-radius: 4px;
	color: #ffffff;
	font-family: "Lato-Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	&--red{
		background-color: #ff9899;
	}
}
html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;

	background-color:$wild-sand;

	@include font(14px);

	color:$tundora;
}

ul, li, p, h1, h2, h3, h4, h5, h6{
	padding:0;
	margin:0;
}
h1{
	color: #474747;
	font-size: 22.4px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 40px;
	margin: 26px 0;
}
h3{
	color: #474747;
	font-family: "Lato-Semibold";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

ul{
	list-style:none;
}

label{
	display:block;
	margin-bottom:11px;
	@include font(14px, 'light');
}

input{
	border-radius:5px;
	border:1px solid $silver;
	padding-left:9px;
	padding-top:6px;
	padding-bottom:6px;
	min-width:100%;
	outline:none;
	&::placeholder{
		@include font(15px, 'semibold');
	}
}

textarea{
	font-size: 15px;
	line-height: 22px;
	border-radius: 5px;
	border: 1px solid #bababa;
	opacity: 0.7;
	padding:20px;
	resize:none;
	outline:none;
	width:100%;
	color:$tundora;
	&::placeholder{
		@include font(15px, 'semibold');
	}
}

button, .btn{
	display:inline-block;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:14px;
	padding-right:14px;
	border-radius:5px;
	border-color:$black;
	border-width:1px;
	background-color:$white;
	@include font(14px);
	cursor:pointer;
	outline:none;
}

// USE CUSTOM STYLES FOR RADIO BUTTON
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position:absolute;
	left:-9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label{
	position:relative;
	padding-left:28px;
	cursor:pointer;
	line-height:20px;
	display:inline-block;
	color:$tundora;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:18px;
	height:18px;
	border:1px solid $silver;
	border-radius:4px;
	background:#fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{
	content:'';
	width:12px;
	height:12px;
	background:$silver;
	position:absolute;
	top:4px;
	left:4px;
	border-radius:3px;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after{
	opacity:0;
	-webkit-transform:scale(0);
	transform:scale(0);
}

[type="radio"]:checked + label:after{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1);
}

.wrapper{
	margin: 0px 0;
}

.clearfix{
	@include clearfix();
}
.text-right{
	text-align:right;
}
.tooltip{
	display:inline-block;
	position:relative;
	height: 50px;
	vertical-align: sub;
	&__img{
		margin: 3px 0 0 5px;
	}
	&__content{
		position:absolute;
		left: 30px;
		top:0px;
		display:none;
		width: 375px;
		height: 43px;
		padding:0 10px;
		border-radius: 4px;
		background-color: #474747;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	&:hover{
		.tooltip__content{
			display:block;
		}
	}
}
.alert{
	width: 690px;
	border-radius: 4px;
	padding: 16px 32px;
	margin: 8px 0;
	&__text{
		margin-top: 8px;
		color: #474747;
		font-family: Lato;
		font-size: 15px;
		font-weight: 400;
		line-height: 24.17px;
	}
	&--success{
		background-color: #99e271;
		color: white;
	}
	&--fail{
		color: white;
		background-color: #ff9899
	}
	&--info{
		color: #474747;
		background-color: #fdf7e7;
	}
}
