<ul class="articles" id="articles">
  <li class="articles__item">
    <div class="articles__caption">
      <img src="./img/avatar.jpg" alt="avatar" class="articles__avatar">
      
      <div>
        <span class="articles__author">Евгений Дюжакин</span>

        <span class="articles__title">Техническая съемка: свет, аппаратура</span>

        <span class="articles__time">вчера в 10:59</span>
      </div>
    </div>

    <div class="articles__content">
      <p class="articles__text">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Благодаря им даже Челябинск кажется красивым местом. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я совсем один и бла</p>

      <span class="articles__read-more">Читать далее »</span>

      <div class="articles__controls">
        <img src="./img/edit.svg" alt="edit-icon" class="articles__edit-icon">

        <img src="./img/bookmark.svg" alt="bookmark-icon" class="articles__bookmark-icon">

        <img src="./img/share.svg" alt="share-icon" class="articles__share-icon">

        <span class="articles__share-count">57</span>
      </div>
    </div>

    <div class="articles__view">
      <img src="./img/view.svg" alt="view-icon" class="articles__view-icon">

      <span class="articles__view-text">93</span>
    </div>

    <div class="articles__view--mobile">
      <img src="./img/view.svg" alt="view-icon" class="articles__view--mobile-icon">

      <span class="articles__view--mobile-text">93</span>
    </div>
  </li>

  <li class="articles__item">
    <div class="articles__caption">
      <img src="./img/avatar.jpg" alt="avatar" class="articles__avatar">
      
      <div>
        <span class="articles__author">Евгений Дюжакин</span>

        <span class="articles__title">Техническая съемка: свет, аппаратура</span>

        <span class="articles__time">вчера в 10:59</span>
      </div>
    </div>

    <div class="articles__content">
      <p class="articles__text">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Благодаря им даже Челябинск кажется красивым местом. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я совсем один и бла</p>

      <span class="articles__read-more">Читать далее »</span>

      <div class="articles__controls">
        <img src="./img/edit.svg" alt="edit-icon" class="articles__edit-icon">

        <img src="./img/bookmark.svg" alt="bookmark-icon" class="articles__bookmark-icon">

        <img src="./img/share.svg" alt="share-icon" class="articles__share-icon">

        <span class="articles__share-count">57</span>
      </div>
    </div>

    <div class="articles__view">
      <img src="./img/view.svg" alt="view-icon" class="articles__view-icon">

      <span class="articles__view-text">93</span>
    </div>

    <div class="articles__view--mobile">
      <img src="./img/view.svg" alt="view-icon" class="articles__view--mobile-icon">

      <span class="articles__view--mobile-text">93</span>
    </div>
  </li>
</ul>