<div class="authorization" id="authorization">
  <h2 class="authorization__title">Авторизация</h2>

  <form class="authorization-form">
    <div class="authorization-form__block">
      <div class="authorization-form__field">
        <label for="email" class="authorization-form__label">E-mail</label>
  
        <input type="text" class="authorization-form__input" id="email">

        <span class="authorization-form__hint">*на этот адрес придет письмо с подтверждением</span>
      </div>
  
      <div class="authorization-form__field">
        <label for="password" class="authorization-form__label">Текущий пароль</label>
  
        <input type="text" class="authorization-form__input" id="password">
      </div>
    </div>

    <div class="authorization-form__block">
      <div class="authorization-form__field">
        <label for="new-password" class="authorization-form__label">Новый пароль</label>
  
        <input type="text" class="authorization-form__input" id="new-password">

        <span class="authorization-form__hint">*больше 8 символов</span>
      </div>
  
      <div class="authorization-form__field">
        <label for="repeat-password" class="authorization-form__label">Повторите пароль</label>
  
        <input type="text" class="authorization-form__input" id="repeat-password">

        <span class="authorization-form__hint">*больше 8 символов</span>
      </div>
    </div>

    <button class="authorization-form__button" type="submit">Обновить данные входа</button>
  </form>
</div>