<div class="dropdown">
  <img src="img/arrow-down.svg" alt="dropdown-toggle" class="dropdown-toggle">
  
  <ul class="dropdown-list">
    <% dropdownItems.forEach(function(dropdownItem) { %>
      <li class="dropdown-list__item">
        <a href="#" class="dropdown-list__link"><%- dropdownItem %></a>
      </li>
    <% }); %>
  </ul>
</div>
