<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title><%- title %></title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="#" class="logo__link">
          <img src="img/logo.svg" alt="logo" class="logo__img">
        </a>
      </div>

      <ul class="menu">
        <li class="menu__item menu__item--search-box">
          <img src="img/search.svg" alt="search-icon" class="menu__item--search-box__icon">

          <input type="text" class="menu__item--search-box__input">
        </li>

        <li class="menu__item menu__item--search">
          <img src="img/search.svg" alt="search-icon" class="menu__item__search-icon">

          <span class="menu__item__search-text">Поиск</span>
        </li>
        
        <li class="menu__item">
          <img src="img/notifications.svg" alt="notifications-icon" class="menu__item__notifications-icon">
        </li>
        
        <li class="menu__item">
            <img src="img/avatar.jpg" alt="avatar" class="menu__item__avatar">

          <span class="menu__item__page-text">Моя страница</span>
        </li>
      </ul>
    </header>