<div class="help" id="help">
  <ul class="faq">
    <li class="faq__item">
      <h2 class="faq__title">Как пользоваться площадкой?</h2>

      <p class="faq__content">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
    </li>

    <li class="faq__item">
      <h2 class="faq__title">Как пользоваться площадкой?</h2>

      <p class="faq__content">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
    </li>

    <li class="faq__item">
      <h2 class="faq__title">Как пользоваться площадкой?</h2>

      <p class="faq__content">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
    </li>
  </ul>

  <form class="faq-form">
    <h2 class="faq-form__title">Есть пожелания или вопросы?</h2>

    <textarea class="faq-form__textarea" rows="8"></textarea>

    <button class="faq-form__submit">Отправить</button>
  </form>
</div>