<div class="mentoring" id="mentoring-student">
  <div class="mentoring-header">
    <h2 class="mentoring-header__title">Прогресс обучения</h2>
    
    <div class="mentoring-header__controls">
      <img src="./img/table.svg" alt="table-icon" class="mentoring-header__table-icon">
      
      <div class="mentoring-header__deadline">
        <img src="./img/time.svg" alt="table-icon" class="mentoring-header__deadline__time-icon">

        <span class="mentoring-header__deadline__text">8 ч. 56. мин</span>
      </div>
    </div>
  </div>

  <div class="mentoring-main">
    <ul class="weeks accordion">
      <li class="weeks__item">
        <span class="weeks__item__text">Неделя 1: вводная</span>
  
        <img src="img/arrow-down.svg" alt="accordion-trigger" class="weeks__item__icon">
      </li>
   
      <ul class="days accordion accordion-content">
          <li class="days__item">
            <span class="days__item__text">ПН</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">

            <!-- TASK WITH DEADLINE -->
            <div class="task-with-deadline">
              <div class="task">
                <h2 class="task__title">Задание 1</h2>
            
                <p class="task__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
              </div>
            
              <div class="recommendation">
                <h2 class="recommendation__title">Рекомендации от Наставника</h2>
            
                <p class="recommendation__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
              </div>
            
              <span class="deadline">Дедлайн через: <span class="deadline__time">8 ч. 56 мин.</span></span>
            
              <form class="task-form">
                <div class="task-form__field">
                  <textarea rows="8" type="text" class="task-form__textarea"></textarea>
                </div>
                <div class="file-uploader">
                  <label for="file" class="task-form__attach-file-label">Прикрепить файл</label>
  
                  <input class="task-form__attach-file-input file" id="file" type="file">
  
                  <div class="task-form__file-name">
                    <span class="task-form__file-name__text file-name__text"></span>
  
                    <img src="img/cross.svg" alt="attach-file-close-icon" class="task-form__file-name__icon file-name__icon">
                  </div>
                </div>
            
                <button class="task-form__submit" type="submit">Отправить Наставнику</button>
              </form>
            </div>
            
          </div>

          <li class="days__item">
            <span class="days__item__text">ВТ</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">

            <!-- TASK COMPLETED -->
            <div class="task-completed">
              <div class="task">
                <h2 class="task__title">Задание 1</h2>
            
                <p class="task__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
              </div>
            
              <div class="recommendation">
                <h2 class="recommendation__title">Рекомендации от Наставника</h2>
            
                <p class="recommendation__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
              </div>
            
              <span class="completed">Сдано: <span class="completed__time">21:26</span></span>

              <p class="task-completed__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>

              <div class="task-completed__img-wrapper">
                <img class="task-completed__img" src="img/img-content.jpg" alt="img">

                <img class="task-completed__zoom-icon" src="img/zoom.svg" alt="zoom-icon">
                <div class="task-completed__overlay"></div>
              </div>

              <span class="task-completed__status">Задание <span class="task-completed__status--checked">проверяется</span> <span class="task-completed__status--accepted">принято</span> <span class="task-completed__status--not-accepted">не принято</span></span>
            
              <div class="mentor-answer">
                <h2 class="mentor-answer__title">Ответ Наставника</h2>

                <p class="mentor-answer__content">Молодец, двигаемся дальше !</p>
              </div>
            </div>

          </div>

          <li class="days__item">
            <span class="days__item__text">СР</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">

            <!-- POLL -->
            <div class="poll">
              <h2 class="poll__title">Опрос: как вам удобней добраться?</h2>

              <img src="img/poll.jpg" alt="poll-img" class="poll__img">

              <form class="poll-form poll-form--ask">
                <div class="poll-form__field">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">На метро</span>
                  </div>

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <div class="poll-form__field">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">На велике</span>
                  </div>

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <div class="poll-form__field">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">Пешком</span>
                  </div>

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <button class="poll-form__submit" type="submit">Сохранить</button>
              </form>
            </div>

          </div>

          <li class="days__item">
            <span class="days__item__text">ЧТ</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">
            <!-- POLL ANSWERED -->
            <div class="poll" id="poll-answered">
              <h2 class="poll__title">Опрос: как вам удобней добраться?</h2>

              <img src="img/poll.jpg" alt="poll-img" class="poll__img">

              <form class="poll-form">
                <div data-answer="На метро" data-answer-percent="75%" class="poll-form__field active">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">На метро</span>
                  </div>

                  <span class="poll-form__answers">75%</span>

                  <img src="img/cross-black.svg" alt="cross-icon" class="poll-form__cross">

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <div data-answer="На велике" data-answer-percent="15%" class="poll-form__field">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">На велике</span>
                  </div>

                  <span class="poll-form__answers">15%</span>

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <div data-answer="Пешком" data-answer-percent="18%" class="poll-form__field">
                  <div class="poll-form__progress-bar">
                    <span class="poll-form__label">Пешком</span>
                  </div>

                  <span class="poll-form__answers">18%</span>

                  <div class="poll-form__input-wrapper">
                    <input type="radio" class="poll-form__input" name="poll-group">
                    <label></label>
                  </div>
                </div>

                <button class="poll-form__submit" type="submit">Сохранить</button>
              </form>
            </div>
          </div>

          <li class="days__item">
            <span class="days__item__text">ПТ</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">Пятница</div>

          <li class="days__item">
            <span class="days__item__text">СБ</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">Суббота</div>

          <li class="days__item">
            <span class="days__item__text">ВС</span>
      
            <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
          </li>

          <div class="accordion-content">Воскресенье</div>
      </ul>

      <li class="weeks__item">
        <span class="weeks__item__text">Неделя 2: теория</span>
  
        <img src="img/arrow-down.svg" alt="accordion-trigger" class="weeks__item__icon">
      </li>
    
      <ul class="days accordion accordion-content">
        <li class="days__item">
          <span class="days__item__text">ПН</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Понедельник</div>

        <li class="days__item">
          <span class="days__item__text">ВТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Вторник</div>

        <li class="days__item">
          <span class="days__item__text">СР</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Среда</div>

        <li class="days__item">
          <span class="days__item__text">ЧТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Четверг</div>

        <li class="days__item">
          <span class="days__item__text">ПТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Пятница</div>

        <li class="days__item">
          <span class="days__item__text">СБ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Суббота</div>

        <li class="days__item">
          <span class="days__item__text">ВС</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Воскресенье</div>
      </ul>
    </ul>

  </div>
</div>

<div class="poll-answer" id="poll-answer">
  <h2 class="poll-answer__title">Как вам удобней добираться?</h2>

  <span class="poll-answer__text">На метро</span>

  <div class="poll-answer__block">
    <div class="poll-answer__progress-bar"></div>

    <span class="poll-answer__answers">75%</span>
  </div>

  <ul class="subscriptions">
    <li class="subscriptions__item">
      <div class="subscriptions__description">
        <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
        
        <div>
          <span class="subscriptions__author">Евгений Дюжакин</span>
  
          <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
        </div>
      </div>
    </li>
  
    <li class="subscriptions__item">
      <div class="subscriptions__description">
        <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
        
        <div>
          <span class="subscriptions__author">Евгений Дюжакин</span>
  
          <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
        </div>
      </div>
    </li>
  
    <li class="subscriptions__item">
      <div class="subscriptions__description">
        <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
        
        <div>
          <span class="subscriptions__author">Евгений Дюжакин</span>
  
          <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
        </div>
      </div>
    </li>
  </ul>
</div>