<div class="mentoring" id="mentoring-teacher">
  <div class="mentoring-header">
    <h2 class="mentoring-header__title">Прогресс обучения</h2>
    
    <div class="mentoring-header__controls">
      <button class="mentoring-header__add-task">Добавить задание</button>

      <div class="dropdown dropdown--add-task">
        <img src="img/cross_active.svg" alt="dropdown-toggle--icon" class="dropdown-toggle--icon">
  
        <span class="dropdown-toggle--author">+</span>
        
        <ul class="dropdown-list--author">
          <li class="dropdown-list__item">
            <a href="#" class="dropdown-list__link dropdown-list__link--add-task-mobile">Новое задание</a>
          </li>
  
          <li class="dropdown-list__item">
            <a href="#" class="dropdown-list__link dropdown-list__link--add-poll-mobile">Новый опрос</a>
          </li>
        </ul>
      </div>

      <div class="mentoring-header__deadline">
        <img src="./img/time.svg" alt="table-icon" class="mentoring-header__deadline__time-icon">

        <span class="mentoring-header__deadline__text">8 ч. 56. мин</span>
      </div>
    </div>
  </div>

  <div class="mentoring-main">
    <ul class="weeks accordion">
      <li class="weeks__item">
        <span class="weeks__item__text">Неделя 1: вводная</span>
  
        <img src="img/arrow-down.svg" alt="accordion-trigger" class="weeks__item__icon">
      </li>
    
      <ul class="days accordion accordion-content">
        <li class="days__item">
          <span class="days__item__text">ПН</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">

          <!-- TASK WITH DEADLINE -->
          <div class="task-with-deadline">
            <div class="task">
              <h2 class="task__title">Задание 1</h2>
          
              <p class="task__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
            </div>
          
            <div class="recommendation">
              <h2 class="recommendation__title">Рекомендации от Наставника</h2>
          
              <p class="recommendation__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
            </div>
          
            <span class="deadline">Дедлайн через: <span class="deadline__time">8 ч. 56 мин.</span></span>
          
            <form class="task-form">
              <div class="task-form__field">
                <textarea rows="8" type="text" class="task-form__textarea"></textarea>
              </div>
              
              <div class="file-uploader">
                <label for="file-deadline" class="task-form__attach-file-label">Прикрепить файл</label>
  
                <input class="task-form__attach-file-input file" id="file-deadline" type="file">
  
                <div class="task-form__file-name">
                  <span class="task-form__file-name__text file-name__text"></span>
  
                  <img src="img/cross.svg" alt="attach-file-close-icon" class="task-form__file-name__icon file-name__icon">
                </div>
              </div>
          
              <button class="task-form__submit" type="submit">Отправить Наставнику</button>
            </form>
          </div>
          
        </div>

        <li class="days__item">
          <span class="days__item__text">ВТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">
          <div class="task-with-responses">
            <div class="task">
              <h2 class="task__title">Задание 1</h2>
          
              <p class="task__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
            </div>
          
            <div class="recommendation">
              <h2 class="recommendation__title">Рекомендации от Наставника</h2>
          
              <p class="recommendation__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
            </div>
          </div>

          <h2 class="student-answers__title">Ответы студентов</h2>

          <ul class="student-answers accordion">
            <li class="student-answers__item">
              <span class="student-answers__item__text">Петров А. Г.</span>

              <img src="img/arrow-down.svg" alt="accordion-trigger" class="student-answers__item__icon">
            </li>

            <div class="accordion-content">
              <p class="student-answers__content"> Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
              
              <div class="task-completed__img-wrapper">
                <img class="task-completed__img" src="img/img-content.jpg" alt="img">

                <img class="task-completed__zoom-icon" src="img/zoom.svg" alt="zoom-icon">
                <div class="task-completed__overlay"></div>
              </div>

              <h2 class="student-answers__title">Добавить комментарий</h2>

              <form class="task-form">
                <div class="task-form__field">
                  <textarea rows="8" type="text" class="task-form__textarea"></textarea>
                </div>

                <div class="task-form__buttons-wrapper">
                  <button class="task-form__submit task-form__submit--accepted" type="submit">Принято</button>

                  <button class="task-form__submit task-form__submit--non-accepted" type="submit">Не принято</button>
                </div>
              </form>
            </div>

            <li class="student-answers__item">
              <span class="student-answers__item__text">Светлова И. К.</span>

              <img src="img/arrow-down.svg" alt="accordion-trigger" class="student-answers__item__icon">
            </li>

            <div class="accordion-content">Светлова И. К.</div>

            <li class="student-answers__item">
              <span class="student-answers__item__text">Шпаков А. С.</span>

              <img src="img/arrow-down.svg" alt="accordion-trigger" class="student-answers__item__icon">
            </li>

            <div class="accordion-content">Шпаков А. С.</div>
          </ul>
        </div>

        <li class="days__item">
          <span class="days__item__text">СР</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Среда</div>

        <li class="days__item">
          <span class="days__item__text">ЧТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Четверг</div>

        <li class="days__item">
          <span class="days__item__text">ПТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Пятница</div>

        <li class="days__item">
          <span class="days__item__text">СБ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Суббота</div>

        <li class="days__item">
          <span class="days__item__text">ВС</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Воскресенье</div>
      </ul>

      <li class="weeks__item">
        <span class="weeks__item__text">Неделя 2: теория</span>
  
        <img src="img/arrow-down.svg" alt="accordion-trigger" class="weeks__item__icon">
      </li>
    
      <ul class="days accordion accordion-content">
        <li class="days__item">
          <span class="days__item__text">ПН</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Понедельник</div>

        <li class="days__item">
          <span class="days__item__text">ВТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Вторник</div>

        <li class="days__item">
          <span class="days__item__text">СР</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Среда</div>

        <li class="days__item">
          <span class="days__item__text">ЧТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Четверг</div>

        <li class="days__item">
          <span class="days__item__text">ПТ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Пятница</div>

        <li class="days__item">
          <span class="days__item__text">СБ</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Суббота</div>

        <li class="days__item">
          <span class="days__item__text">ВС</span>
    
          <img src="img/arrow-down.svg" alt="accordion-trigger" class="days__item__icon">
        </li>

        <div class="accordion-content">Воскресенье</div>
      </ul>
    </ul>

  </div>
</div>

<div class="add-task" id="add-task">
  <h2 class="add-task__title add-task__title--main">Добавьте задание или <span class="add-task__title-line-through">опрос</span></h2>

  <h2 class="add-task__title--mobile">Добавьте задание</h2>

  <div class="task-duration">
    <div class="task-week-wrapper">
      <select id="task-week">
        <option value="hide">Вводное</option>
        <option value="Неделя 1">Неделя 1</option>
        <option value="Неделя 2">Неделя 2</option>
        <option value="Неделя 3">Неделя 3</option>
        <option value="Неделя 4">Неделя 4</option>
        <option value="Неделя 5">Неделя 5</option>
        <option value="Неделя 6">Неделя 6</option>
      </select>
    </div>

    <div class="task-day-wrapper">
      <select id="task-day">
        <option value="hide">ПН</option>
        <option value="ПН">ПН</option>
        <option value="ВТ">ВТ</option>
        <option value="СР">СР</option>
        <option value="СР">ЧТ</option>
        <option value="ПТ">ПТ</option>
        <option value="СБ">СБ</option>
        <option value="ВС">ВС</option>
      </select>
    </div>
  </div>

  <form class="add-task-form">
    <h2 class="add-task__title">Название недели</h2>

    <div class="add-task__field">
      <input type="text" class="add-task-form__input">
    </div>

    <h2 class="add-task__title">Текст задания</h2>

    <div class="add-task__field">
      <textarea rows="8" type="text" class="add-task__textarea"></textarea>
    </div>

    <h2 class="add-task__title">Рекомендации от наставника</h2>

    <div class="add-task__field">
      <textarea rows="8" type="text" class="add-task__textarea"></textarea>
    </div>

    <div class="file-uploader">
      <label for="file-add-task" class="add-task-form__attach-file-label">Прикрепить картинку</label>
  
      <input class="add-task-form__attach-file-input file" id="file-add-task" type="file">
  
      <div class="add-task-form__file-name">
        <span class="add-task-form__file-name__text file-name__text"></span>
  
        <img src="img/cross.svg" alt="attach-file-close-icon" class="add-task-form__file-name__icon file-name__icon">
      </div>
    </div>

    <h2 class="add-task__title">Дедлайн</h2>

    <div class="add-task__deadline-wrapper">
      <input type="text" class="add-task-form__input add-task-form__input--date">

      <input type="text" class="add-task-form__input add-task-form__input--time">
    </div>

    <button class="add-task__submit" type="submit">Сохранить</button>
  </form>
</div>

<div class="add-poll-popup" id="add-poll-popup">
  <h2 class="add-poll-popup__title add-poll-popup__title--main">Добавьте <span class="add-poll-popup__title-line-through">задание</span> или опрос</h2>

  <h2 class="add-poll-popup__title--mobile">Добавьте опрос</h2>

  <div class="task-duration">
      <div class="task-week-wrapper">
        <select id="task-week">
          <option value="hide">Вводное</option>
          <option value="Неделя 1">Неделя 1</option>
          <option value="Неделя 2">Неделя 2</option>
          <option value="Неделя 3">Неделя 3</option>
          <option value="Неделя 4">Неделя 4</option>
          <option value="Неделя 5">Неделя 5</option>
          <option value="Неделя 6">Неделя 6</option>
        </select>
      </div>
  
      <div class="task-day-wrapper">
        <select id="task-day">
          <option value="hide">ПН</option>
          <option value="ПН">ПН</option>
          <option value="ВТ">ВТ</option>
          <option value="СР">СР</option>
          <option value="СР">ЧТ</option>
          <option value="ПТ">ПТ</option>
          <option value="СБ">СБ</option>
          <option value="ВС">ВС</option>
        </select>
      </div>
    </div>
  
    <form class="add-task-form">
      <h2 class="add-task__title">Название недели</h2>
  
      <div class="add-task__field">
        <input type="text" class="add-task-form__input">
      </div>
  
      <h2 class="add-task__title">Текст задания</h2>
  
      <div class="add-task__field">
        <textarea rows="8" type="text" class="add-task__textarea"></textarea>
      </div>
      
      <h2 class="add-task__title">Варианты ответа</h2>

      <div class="add-poll">
        <button class="add-poll__button" type="button">Добавить вариант</button>

        <div class="add-poll__field">
          <input type="radio" class="add-poll__input" name="add-poll" id="add-poll">

          <label for="add-poll" class="add-poll__label">Можно выбрать несколько вариантов</label>
        </div>

        <div class="file-uploader">
          <label for="file-add-poll" class="task-form__attach-file-label">Прикрепить картинку</label>
  
          <input class="task-form__attach-file-input file" id="file-add-poll" type="file">
  
          <div class="task-form__file-name">
            <span class="task-form__file-name__text file-name__text"></span>
  
            <img src="img/cross.svg" alt="attach-file-close-icon" class="task-form__file-name__icon file-name__icon">
          </div>
        </div>
      </div>
      
      <div class="deadline-poll">
        <h2 class="add-task__title">Дедлайн</h2>
    
        <div class="add-task__deadline-wrapper">
          <input type="text" class="add-task-form__input add-task-form__input--date">
    
          <input type="text" class="add-task-form__input add-task-form__input--time">
        </div>
      </div>
  
      <button class="add-task__submit" type="submit">Сохранить</button>
    </form>
</div>
