<div class="profile" id="profile">
  <h2 class="profile__title">Личная информация</h2>

  <form class="profile-form">
    <div class="profile-form__block">
      <div class="profile-form__field">
        <label for="name" class="profile-form__label">Имя</label>
  
        <input type="text" class="profile-form__input" id="name">
      </div>

      <div class="profile-form__field">
        <label for="second-name" class="profile-form__label">Фамилия</label>
  
        <input type="text" class="profile-form__input" id="second-name">
      </div>
    </div>

    <div class="profile-form__block">
      <div class="profile-form__field">
        <label for="birthday" class="profile-form__label">День рождения</label>
  
        <input type="text" class="profile-form__input" id="birthday">
      </div>
  
      <div class="profile-form__field">
        <label for="city" class="profile-form__label">Город</label>
  
        <input type="text" class="profile-form__input" id="city">
      </div>
    </div>

    <div class="profile-form__field profile-form__field--deal">
      <label for="profession" class="profile-form__label">Род занятий</label>

      <input type="text" class="profile-form__input" id="profession">

      <span class="profile-form__hint">*не более 50 символов</span>
    </div>

    <div class="profile-form__field">
      <label for="about" class="profile-form__label">О себе</label>

      <textarea rows="8" type="text" class="profile-form__textarea" id="about"></textarea>

      <span class="profile-form__hint profile-form__hint--textarea">*не более 50 символов</span>
    </div>

    <button class="profile-form__button" type="submit">Обновить личную информацию</button>
  </form>
</div>