<div class="subscription" id="subscription">
  <h2 class="subscription__title">Подписка</h2>

  <span class="subscription__remain">Осталось: <span class="subscription__remain--red">18</span> дней</span>

  <span class="subscription__cancellation">Следующее списание: 23.09.2018 г.</span>

  <span class="subscription__card">Прикреплена карта: **** 2912</span>

  <form class="subscription-form">
    <div class="subscription-form__block">
      <div class="subscription-form__field subscription-form__field--card">
        <label for="card" class="subscription-form__label">Карта</label>
  
        <input type="text" class="subscription-form__input" id="card">
      </div>
  
      <div class="subscription-form__field subscription-form__field--date">
        <label for="date" class="subscription-form__label">Срок действия</label>
  
        <input type="text" class="subscription-form__input" id="date">
      </div>
    </div>

    <div class="subscription-form__block">
      <div class="subscription-form__field subscription-form__field--date--mobile">
        <label for="date" class="subscription-form__label">Срок действия</label>
  
        <input type="text" class="subscription-form__input" id="date">
      </div>
  
      <div class="subscription-form__field subscription-form__field--code">
        <label for="code" class="subscription-form__label">Код CVV/CCV</label>
  
        <input type="text" class="subscription-form__input" id="code">
      </div>
    </div>

    <span class="subscription-form__hint">*указан на обратной стороне карты</span>
  </form>

  <button class="subscription-form__button" type="submit">Привязать новую карту</button>
</div>