<ul class="subscriptions" id="subscriptions">
  <li class="subscriptions__item">
    <div class="subscriptions__description">
      <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
      
      <div>
        <span class="subscriptions__author">Евгений Дюжакин</span>

        <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
      </div>
    </div>

    <img src="./img/cross_active.svg" alt="avatar" class="unsubscribe-toggle">

    <span class="subscriptions__unsubscribe">Отписаться</span>
  </li>

  <li class="subscriptions__item">
    <div class="subscriptions__description">
      <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
      
      <div>
        <span class="subscriptions__author">Евгений Дюжакин</span>

        <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
      </div>
    </div>

    <img src="./img/cross_active.svg" alt="avatar" class="unsubscribe-toggle">

    <span class="subscriptions__unsubscribe">Отписаться</span>
  </li>

  <li class="subscriptions__item">
    <div class="subscriptions__description">
      <img src="./img/avatar.jpg" alt="avatar" class="subscriptions__avatar">
      
      <div>
        <span class="subscriptions__author">Евгений Дюжакин</span>

        <span class="subscriptions__profession">Фэшн-фотограф, фотография</span>
      </div>
    </div>

    <img src="./img/cross_active.svg" alt="avatar" class="unsubscribe-toggle">

    <span class="subscriptions__unsubscribe">Отписаться</span>
  </li>

  <span class="subscriptions__show-more--mobile">Показать больше »</span>
</ul>