<ul class="tabs--mobile">
  <% tabsMobile.forEach(function(tab) { %>
    <li class="tabs--mobile__item">
      <a href="#<%- tab.href %>" class="tabs--mobile__link">
        <img data-active="<%- tab.activeImg %>"  data-default="<%- tab.img %>" src="<%- tab.img %>" alt="news" class="tabs--mobile__icon">
        
        <%- tab.data %>
      </a>
    </li>
  <% }); %>
</ul>