{% extends '/admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Прогресс по курсу {{ course.title }}</h5>
            </div>
            <div class="ibox-content">
                <!--div class="row">
                    <div class="col-sm-3">
                        <form action="" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div-->
                <div class="table-responsive">
                    <table class="table table-hover table-striped js-progress">
                        <thead style="background:#fff">
                            <tr>
                                <th>User</th>
                                {% for task in course.tasks  %}
                                    <th style="writing-mode: tb-rl"> {{ task.day }} - {{ task.deadline|date('d.m.y') }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        {% for user in course.users %}
                            <tr>
                                <td>{{ user.profile.fullName }}</td>
                                {% for task in course.tasks %}
                                    {% if task.isExpired(user) %}
                                        {% set class = 'fa fa-clock-o text-danger' %}
                                    {% elseif not task.getAnswerFromUser(user) %}
                                        {% set class = 'fa fa-circle text-warning' %}
                                    {% elseif task.getAnswerFromUser(user).status == 0 %}
                                        {% set class = 'fa fa-circle text-warning' %}
                                    {% elseif task.getAnswerFromUser(user).status == 1 %}
                                        {% set class = 'fa fa-check text-success' %}
                                    {% elseif task.getAnswerFromUser(user).status == 2 %}
                                        {% set class = 'fa fa-close text-danger' %}
                                    {% elseif task.getAnswerFromUser(user).status == 3 %}
                                        {% set class = 'fa fa-refresh text-danger' %}
                                    {% elseif task.getAnswerFromUser(user).status == 4 %}
                                        {% set class = 'fa fa-clock-o text-success' %}
                                    {% endif %}
                                    <td>
                                        <div class="dropdown js-dropdown ">
                                            <a href="#" class="dropdown-toggle js-dropdown-toggle"
                                               id="dropdown-{{ user.id }}-{{ task.id }}"
                                               type="button"
                                               data-toggle="dropdown"
                                               aria-haspopup="true"
                                               aria-expanded="true"
                                            ><i class="{{ class }}"></i></a>

                                            <ul class="dropdown-menu" aria-labelledby="dropdown-{{ user.id }}-{{ task.id }}">
                                                <li>
                                                    <a href="#" class="js-change-status" data-url="{{ path('admin_progress_edit',{task:task.id,user:user.id}) }}" data-status="1">
                                                        <span class="js-icon-wrapper"><i class="fa fa-check text-success"></i></span> Зачёт
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="js-change-status" data-url="{{ path('admin_progress_edit',{task:task.id,user:user.id}) }}" data-status="2">
                                                        <span class="js-icon-wrapper"><i class="fa fa-close text-danger"></i></span> Не зачёт
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

