<template>
    <div class="text-center">
        <img v-if="userAvatar" :src="userAvatar"  class="user__avatar__img" id="pick-avatar">
        <avatar-cropper
                @uploaded="handleUploaded"
                trigger="#pick-avatar"
                :upload-url="url"
                :labels="labels"
                :mimes="mimes"
        />
    </div>
</template>

<script>
    import AvatarCropper from "vue-avatar-cropper"

    export default {
        components: { AvatarCropper },
        props: ['user-avatar','url'],
        data() {
            return {
                labels:{
                    submit:'Готово',
                    cancel: 'Отмена'
                },
                mimes:'image/png, image/gif, image/jpeg',
            }
        },
        methods: {
            handleUploaded(resp) {
                this.userAvatar = resp.avatar;
            }
        }
    }
</script>