<template>
    <date-pick
       :inputAttributes="inputAttributes"
       :weekdays ="weekdays"
       :months ="months"
       :nextMonthCaption = "nextMonthCaption"
       :prevMonthCaption = "prevMonthCaption"
       v-model="date"
    ></date-pick>

</template>

<script>
    import DatePick from 'vue-date-pick';
    import 'vue-date-pick/dist/vueDatePick.css';

    export default {
        name: 'date-picker',
        components: {DatePick},
        props: ['date'],
        watch: {
            date: function (value) {
                this.$emit('change-date', value);
            },

        },
        data: () => ({
            date: '',
            inputAttributes:{
                class: 'profile-form__input input',
                id: 'birthday',

            },
            nextMonthCaption: 'Следущий месяц',
            prevMonthCaption: 'Предыдущий месяц',
            mobileBreakpointWidth: {type: Number, default: 500},
            weekdays: [
                'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'
            ],
            months:
                [
                    'Январь', 'Февраль', 'Март', 'Апрель',
                    'Май', 'Июнь', 'Июль', 'Август',
                    'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
                ]
        })
    };
</script>
