<template>
    <div class="forget-password" v-if="$store.state.authState=='forget-password'" >
        <form action="#" class="forget-password-form form" v-if="!success">
            <div class="form__title">
                Впишите почту, указанную<br>
                при регистрации. На неё мы отправим<br>
                письмо с инструкциями
            </div>
            <div class="forget-password-form__field">
                <label for="email" class="forget-password-form__email-label">E-mail</label>
                <input type="email" :class="[inputClass,errors.email ? 'error' : '']" id="email" name="email" v-model="form.email">
                <p class="form__error" v-if="errors.email">*{{ errors.email }}</p>
            </div>
            <div class="forget-password-form__field">
                <button class="form__btn" @click.prevent="sendForm">Отправить</button>
            </div>
            <div class="forget-password-form__links-wrapper">
                <a href="#" class="forget-password-form__link" @click.prevent="$store.commit('setAuthState','login')">« Назад</a>
            </div>
        </form>

        <div class="forget-password__success form__success"  v-if="success">
            <div class="form__title">
                На вашу почту мы отправили письмо с инструкциями
                по сбросу пароля, выполнив которые Вы сможете
                полноценно пользоваться сервисом.
            </div>
            <div class="forget-password-form__links-wrapper">
                <a href="#" class="forget-password-form__link" @click.prevent="$store.commit('setAuthState','login')">« К странице входа</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "forget-password",
        props: ['uri'],
        data(){
            return {
                form: {},
                errors: {
                    email: '',
                },
                success: false,
                inputClass: 'login-form__password-input input'
            }
        },

        methods: {
            validateInputs() {
                let isError = false;
                if(this.form.email==''||typeof this.form.email==='undefined'){
                    this.errors.email = 'Введите е-мэйл';
                    isError = true;
                } else {
                    this.errors.email = '';
                }
                return isError;
            },
            sendForm() {
                if(!this.validateInputs()){
                    this.axios.post(this.uri, this.form)
                        .then((response) => {console.log(response);
                            this.success = true;
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }
            }
        }
    }
</script>

<style scoped>

</style>