<template>
    <div class="wrapper">
        <div class="author">
            <div class="author-wrapper">
                <div class="author-caption--mobile">
                    <div class="author__avatar">
                        <img src="/build/img/avatar.jpg" alt="avatar" class="author__avatar__img">

                        <div class="author__avatar__controls-wrapper">
                            <div class="author__avatar__controls">
                                <img src="/build/img/edit_white.svg" alt="avatar__icon" class="author__avatar__controls--icon">

                                <img src="/build/img/settings_white.svg" alt="avatar__icon" class="author__avatar__controls--icon">
                            </div>
                        </div>
                    </div>

                    <div class="author__short-description">
                        <span class="author-caption__name">{{user.profile.name}} {{user.profile.secondName}} </span>

                        <span class="author-caption__place">{{user.profile.city}} , 25</span>

                        <span class="author-caption__profession">{{user.profile.profession}}</span>
                    </div>
                </div>

                <div class="author-caption">
                    <span class="author-caption__name">{{user.profile.name}} {{user.profile.secondName}} </span>

                    <span class="author-caption__place">{{user.profile.city}} , 25</span>

                    <span class="author-caption__profession">{{user.profile.profession}} </span>

                    <p class="author-caption__description">{{user.profile.about}} </p>

                    <!--span class="author-caption__trigger">Показать полностью »</span-->

                </div>
            </div>
        </div>
        <div class="author__activation-header">
            Активируй свое обучение
        </div>
        <div class="author__courses">

        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['jsonuser'],
        data(){
            return {
                user: JSON.parse(this.jsonuser)
            }
        },

        methods: {
            sendForm() {
                let uri = this.uri;
                if(!this.validateInputs()){
                    this.axios.post(uri, this.form)
                        .then((response) => {console.log(response);
                            window.location.replace('/');
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }

            },
        }
    }
</script>


<style scoped  lang="scss">

</style>