<template>
    <div class="login" v-if="$store.state.authState=='login'">
        <img src="/build/img/logo.png" alt="" class="login__img">
        <form class="login-form form" method="post">
            <div class="login-form__field">
                <label for="email" class="login-form__email-label">E-mail</label>
                <input type="email" :class="[inputClass,errors.email ? 'error' : '']" id="email" name="email" v-model="form.email">
                <p class="form__error" v-if="errors.email">*{{ errors.email }}</p>
            </div>

            <div class="login-form__field">
                <label for="password" class="login-form__password-label">Пароль</label>
                <input type="password" :class="[inputClass,errors.password ? 'error' : '']" id="password" name="password"  v-model="form.password">
                <p class="form__error" v-if="errors.password">*{{ errors.password }}</p>
            </div>

            <button class="login-form__login" type="submit" v-on:click.prevent="sendForm">Войти</button>
            <button class="login-form__register" type="button" v-on:click.prevent="$store.commit('setAuthState','register')">Зарегистрироваться</button>

            <a href="#" class="login-form__demo" @click.prevent="$store.commit('setAuthState','forget-password')" >Забыли пароль?</a>
        </form>
    </div>
</template>

<script>
    export default {
        name: "login",
        props:['token','uri'],
        data(){
            return {
                form: {
                    email:'',
                    password:'',
                    token: this.token
                },
                error: false,
                errors: {
                    email: '',
                    password: '',
                    confirmPassword: ''
                },
                inputClass: 'login-form__password-input input'
            }
        },

        methods: {
            validateInputs() {
                let isError = false;
                if(this.form.email==''||typeof this.form.email==='undefined'){
                    this.errors.email = 'Введите е-мэйл';
                    isError = true;
                } else {
                    this.errors.email = '';
                }
                if(this.form.password==''||typeof this.form.password==='undefined'){
                    this.errors.password = 'Введите пароль';
                    isError = true;
                } else {
                    this.errors.password = '';
                }
                return isError;
            },
            sendForm() {
                let uri = this.uri;
                if(!this.validateInputs()){
                    this.axios.post(uri, this.form)
                        .then((response) => {console.log(response);
                            window.location.replace('/');
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }

            },

        }
    }
</script>

<style scoped>

</style>