<template>
    <div class="profile" id="profile" >

        <form class="profile-form">
            <h2 class="profile__title">Личная информация</h2>
            <div class="profile-form__block">
                <div class="profile-form__field">
                    <label for="name" class="profile-form__label">Имя*</label>

                    <input type="text" :class="[inputClass,errors.name ? 'error' : '']" id="name"  v-model="form.name">
                    <p class="form__error" v-if="errors.name">*{{ errors.name }}</p>
                </div>

                <div class="profile-form__field">
                    <label for="second-name" class="profile-form__label">Фамилия*</label>

                    <input type="text" :class="[inputClass,errors.secondName ? 'error' : '']" id="second-name"  v-model="form.secondName">
                    <p class="form__error" v-if="errors.secondName">*{{ errors.secondName }}</p>
                </div>
            </div>

            <div class="profile-form__block">
                <div class="profile-form__field">
                    <label for="birthday" class="profile-form__label">День рождения*</label>
                    <date-picker :date="form.birthday" v-model="form.birthday" v-on:change-date="onChangeDate"></date-picker>
                    <p class="form__error" v-if="errors.birthday">*{{ errors.birthday }}</p>
                </div>

                <div class="profile-form__field">
                    <label for="city" class="profile-form__label">Город*</label>

                    <input type="text" :class="[inputClass,errors.city ? 'error' : '']" id="city"  v-model="form.city">
                    <p class="form__error" v-if="errors.city">*{{ errors.city }}</p>
                </div>
            </div>

            <div class="profile-form__field profile-form__field--deal">
                <label for="profession" class="profile-form__label">Род занятий</label>

                <input type="text" class="profile-form__input" id="profession"  v-model="form.profession">

                <span class="profile-form__hint">*не более 50 символов</span>
                <p class="form__error" v-if="errors.profession">*{{ errors.profession }}</p>
            </div>

            <div class="profile-form__field">
                <label for="about" class="profile-form__label">О себе</label>

                <textarea rows="8" type="text" class="profile-form__textarea" id="about"  v-model="form.about"></textarea>

                <span class="profile-form__hint profile-form__hint--textarea">*не более 1200 символов</span>
                <p class="form__error" v-if="errors.about">*{{ errors.about }}</p>
            </div>

            <button class="profile-form__button" type="submit" @click.prevent="sendForm">Сохранить</button>
        </form>
    </div>
</template>

<script>

import DatePicker from './DatePicker';

    export default {
        name: "profile",
        props: ['uri','name','second-name','birthday','city','profession','about'],
        components: {DatePicker},
        data(){
            return {
                form: {
                    name: this.name,
                    secondName: this.secondName,
                    birthday: this.birthday,
                    city: this.city,
                    profession: this.profession,
                    about: this.about,
                },
                errors: {
                    name: '',
                    secondName: '',
                    city:'',
                    birthday: '',
                    profession: '',
                    about: ''
                },
                success: false,
                inputClass: 'profile-form__input input',
            }
        },

        methods: {
            onChangeDate: function (date) {
                this.form.birthday = date;
            },
            validateInputs() {
                let isError = false;
                if(this.form.name==''||typeof this.form.name==='undefined'){
                    this.errors.name = 'Введите имя';
                    isError = true;
                } else {
                    this.errors.name = '';
                }
                if(this.form.secondName==''||typeof this.form.secondName==='undefined'){
                    this.errors.secondName = 'Введите фамилию';
                    isError = true;
                } else {
                    this.errors.secondName = '';
                }
                if(this.form.city==''||typeof this.form.city==='undefined'){
                    this.errors.city = 'Введите город';
                    isError = true;
                } else {
                    this.errors.city = '';
                }
                if(this.form.birthday==''||typeof this.form.birthday==='undefined'){
                    this.errors.birthday = 'Введите дату рождения';
                    isError = true;
                } else {
                    this.errors.birthday = '';
                }
                if(this.form.profession.length >=50){
                    this.errors.profession = 'Не более 50 символов';
                    isError = true;
                } else {
                    this.errors.profession = '';
                }
                if(this.form.about.length >=1200){
                    this.errors.about = 'Не более 1200 символов';
                    isError = true;
                } else {
                    this.errors.about = '';
                }

                return isError;
            },
            sendForm() {
                console.log(this.form.birthday);
                console.log(this.validateInputs());
                if(!this.validateInputs()){
                    this.axios.post(this.uri, this.form)
                        .then((response) => {console.log(response);
                            this.success = true;
                            location.replace("/");

                            //location.reload();
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }
            }
        }
    }
</script>

<style scoped>

</style>