<template>
    <div class="register"  v-if="$store.state.authState=='register'">
        <form action="/register" class="register-form form" v-if="!success">
            <div class="register-form__title">
                Чтобы зарегистрироваться<br>
                введите адрес электронной почты<br>
                и создайте пароль
            </div>
            <input type="hidden" name="_csrf_token" :value="token" >
            <div class="register-form__field">
                <label for="email" class="register-form__email-label">E-mail</label>
                <input type="email" :class="[inputClass,errors.username ? 'error' : '']" id="email" name="username" v-model="form.username">
                <p class="form__error" v-if="errors.username">*{{ errors.username }}</p>
            </div>

            <div class="register-form__field">
                <label for="password" class="register-form__password-label">Пароль</label>
                <input type="password" :class="[inputClass,errors.password ? 'error' : '']" id="password" name="password"  v-model="form.password">
                <p class="form__error" v-if="errors.password">*{{ errors.password }}</p>
            </div>

            <div class="register-form__field">
                <label for="confirm_password" class="register-form__password-label">Повторите пароль</label>
                <input type="password" :class="[inputClass,errors.confirmPassword ? 'error' : '']" id="confirm_password" name="confirm_password"  v-model="form.confirmPassword">
                <p class="form__error" v-if="errors.confirmPassword">*{{ errors.confirmPassword }}</p>
            </div>
            <div class="register-form__links-wrapper">
                <a href="#" class="register-form__link" @click.prevent="$store.commit('setAuthState','login')">« Назад</a>
                <a href="#" class="register-form__link" @click.prevent="sendForm">Далее »</a>
            </div>
        </form>
        <div class="register__success"  v-if="success">
            <div class="form__title">
                Поздравляем, вы успешно зарегистрировались!<br>
                Теперь Вы можете полноценно пользоваться сервисом.<br>
                <!--На вашу почту мы отправили письмо с инструкциями<br>
                по активации аккаунта, после чего вы сможете<br>
                полноценно пользоваться сервисом.<br-->
            </div>
            <div class="register-form__links-wrapper">
                <a href="#" class="register-form__link" @click.prevent="$store.commit('setAuthState','login')">« К странице входа</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register",
        props:['token','uri'],
        data(){
            return {
                form: {},
                success: false,
                errors: {
                    username: '',
                    password: '',
                    confirmPassword: ''
                },
                inputClass: 'login-form__password-input input'
            }
        },

        methods: {
            validateInputs() {
                let isError = false;
                if(this.form.username==''||typeof this.form.username==='undefined'){
                    this.errors.username = 'Введите е-мэйл';
                    isError = true;
                } else {
                    this.errors.username = '';
                }
                if(this.form.password==''||typeof this.form.password==='undefined'){
                    this.errors.password = 'Введите пароль';
                    isError = true;
                } else {
                    this.errors.password = '';
                }
                if(this.form.confirmPassword=='' ||this.form.confirmPassword!==this.form.password ||typeof this.form.confirmPassword==='undefined'){
                    this.errors.confirmPassword = 'Введенные пароли не совпадают';
                    isError = true;
                } else {
                    this.errors.confirmPassword = '';
                }

                return isError;
            },
            sendForm() {
                let uri = this.uri;
                if(!this.validateInputs()){
                    this.axios.post(uri, this.form)
                        .then((response) => {console.log(response);
                           this.success = true;
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }
                //console.log(this.errors);
            }
        }
    }
</script>

<style scoped>

</style>