<template>
    <div class="reset-password">
        <form action="#" class="reset-password-form form" v-if="!success">
            <div class="form__title">
                Отлично, ваш пароль сброшен!<br>
                Осталось создать новый,<br>
                впишите его ниже
            </div>
            <div class="register-form__field">
                <label for="password" class="register-form__password-label">Пароль</label>
                <input type="password" :class="[inputClass,errors.password ? 'error' : '']" id="password" name="password"  v-model="form.password">
                <p class="form__error" v-if="errors.password">*{{ errors.password }}</p>
            </div>

            <div class="register-form__field">
                <label for="confirm_password" class="register-form__password-label">Повторите пароль</label>
                <input type="password" :class="[inputClass,errors.confirmPassword ? 'error' : '']" id="confirm_password" name="confirm_password"  v-model="form.confirmPassword">
                <p class="form__error" v-if="errors.confirmPassword">*{{ errors.confirmPassword }}</p>
            </div>
            <div class="reset-password-form__field">
                <button class="form__btn" @click.prevent="sendForm">Сохранить</button>
            </div>
        </form>

        <div class="reset-password__success form__success"  v-if="success">
            <div class="form__title">
                Ваш пароль успешно изменен!
            </div>
            <div class="reset-password-form__links-wrapper">
                <a href="/login/" class="reset-password-form__link">« К странице входа</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "reset-password",
        props: ['uri'],
        data(){
            return {
                form: {},
                errors: {
                    password: '',
                    confirmPassword: ''
                },
                success: false,
                inputClass: 'login-form__password-input input'
            }
        },

        methods: {
            validateInputs() {
                let isError = false;
                if(this.form.password==''||typeof this.form.password==='undefined'){
                    this.errors.password = 'Введите пароль';
                    isError = true;
                } else {
                    this.errors.password = '';
                }
                if(this.form.confirmPassword=='' ||this.form.confirmPassword!==this.form.password ||typeof this.form.confirmPassword==='undefined'){
                    this.errors.confirmPassword = 'Введенные пароли не совпадают';
                    isError = true;
                } else {
                    this.errors.confirmPassword = '';
                }

                return isError;
            },
            sendForm() {
                if(!this.validateInputs()){
                    this.axios.post(this.uri, this.form)
                        .then((response) => {console.log(response);
                            this.success = true;
                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data.errors;
                            }
                        });
                }
            }
        }
    }
</script>

<style scoped>

</style>