<template>
    <div id="uploader" style="display: flex; justify-content: left;">
        <vue-upload-multiple-image
                @upload-success="uploadImageSuccess"
                @before-remove="beforeRemove"
                @edit-image="editImage"
                @data-change="dataChange"
                :data-images="images"
                browse-text="Выберите файлы"
                drag-text="Добавьте изображения"
                primary-text=""
                mark-is-primary-text=""
                accept="image/gif,image/jpeg,image/png,image/jpg"
                popup-text="Допустимые форматы файла: png, jpg, gif. Размер файла не должен превышать 4,5 Мб"
        ></vue-upload-multiple-image>
    </div>
</template>

<script>
    import VueUploadMultipleImage from 'vue-upload-multiple-image'
    import axios from 'axios'
    export default {
        name: 'uploader',
        props:['upload-url','task-images','remove-url'],
        data () {
            return {
                images: JSON.parse(this.taskImages)
            }
        },
        components: {
            VueUploadMultipleImage
        },
        methods: {
            uploadImageSuccess(formData, index, fileList) {
                console.log('data', formData, index, fileList)
                axios.post(this.uploadUrl, formData).then(response => {
                    console.log(response)
                })
            },
            beforeRemove (index, done, fileList) {
                console.log('index', index, fileList);
                var image = fileList[index];
                var id = image.caption;
                var r = confirm("Точно удалить?")
                if (r == true) {
                    axios.post(this.removeUrl, {id: id}).then(response => {
                        console.log(response);
                        fileList.splice(index, 1);
                    });
                } else {
                }
            },
            editImage (formData, index, fileList) {
                console.log('edit data', formData, index, fileList)
            },
            dataChange (data) {
                console.log(data)
            }
        }
    }
</script>

<style>
    #uploader {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-left: 15px;

    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
    .image-list-container{
        min-height: auto !important;
    }
    .image-edit{
        display:none !important
    }
</style>