<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu js-metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{ app.user.email }}</strong>
                            </span>
                            <span class="text-muted text-xs block">Manager <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout/">Выйти</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}

                <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-users"></i>Пользователи</a></li>
                <li><a href="{{ path('admin_course_index') }}"><i class="fa fa-graduation-cap "></i>Курсы</a></li>

                <li>
                    <a href="{{ path('admin_activation_request_index') }}"><i class="fa fa-wheelchair">
                        </i>Ожидают активации({{ activationRequestRepository.getNewRequestsCount }})
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-percent"></i>
                        <span class="nav-label"> Прогресс</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        {% for course in courseRepository.getActiveCourses %}
                            <li><a href="{{ path('admin_progress_index',{course: course.id}) }}">{{ course.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                <li><a href="{{ path('admin_task_answer_index') }}"><i class="fa fa-pencil "></i>Ответы на задания</a></li>
            {% endif %}
            <li><a href="/admin/"><i class="fa fa-signal"></i>Панель</a></li>
        </ul>

    </div>
</nav>