<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Nastavnik.me admin</title>

    <!--link href="/dashboard/css/main.css" rel="stylesheet"-->
    <link href="{{ asset('build/admin.css') }}" rel="stylesheet">
    <link href="/img/apple-touch-icon.png" rel="icon"  type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    {% block css %}
    {% endblock %}
</head>

<body>

<div id="wrapper">

    {{ include('admin/layouts/_navbar.html.twig') }}

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>

                    </li>
                    <li>
                        <a href="/logout/">
                            <i class="fa fa-sign-out"></i> Выход
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                <strong>Админ панель</strong>
            </div>
            <div>
                <strong>Copyright</strong> revuer.ru &copy; 2019
            </div>
        </div>

    </div>
</div>
<script src="/dashboard/js/vendor/jquery-3.1.1.min.js"></script>
<!--script src="/dashboard/js/main.js"></script-->
<script src="/dashboard/ckfinder/samples/js/sf.js"></script>
<script src="/dashboard/ckfinder/samples/js/tree-a.js"></script>
<script src="/dashboard/ckfinder/ckfinder.js"></script>
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/admin.js') }}"></script>
<script>
    var $ckfinderModal = $('.js-ckfinder-modal');
    $ckfinderModal.click(function (e) {
        e.preventDefault();
        $ckfinderInput = $(this).closest('.js-ckfinder-block').find('.js-ckfinder-input');
        CKFinder.modal( {
            chooseFiles: true,
            language: 'ru',
            width: 800,
            height: 600,
            onInit: function( finder ) {
                finder.on( 'files:choose', function( evt ) {
                    var file = evt.data.files.first();
                    $ckfinderInput.val(file.getUrl());
                } );

                finder.on( 'file:choose:resizedImage', function( evt ) {
                    $ckfinderInput.val(evt.data.resizedUrl);
                } );
            }
        } );
    });

    var editors = $('.js-ckeditor');
    $.each( editors, function() {
        var editor = CKEDITOR.replace( $(this).attr('name') );
        CKFinder.setupCKEditor( editor );
    });

</script>
{% block js %}
{% endblock %}

</body>

</html>
