{% extends 'admin/layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{ path('admin_course_index') }}" class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> Назад к списку курсов</a>
            </div>
        </div>
    </div>

    <div class="clearfix">
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Курс {{ course.title }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-2">
                        {% if course.image %}
                            <img src="{{ course.image }}" alt="" class="img-responsive">
                        {% endif %}
                    </div>
                    <div class="col-lg-10">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        <a href="{{ path('admin_week_add',{'courseId':course.id}) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить неделю</a>
                    </div>
                </div>
                {% if course.weeks %}
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Создан</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in course.weeks %}
                        <tr>
                            <td>Неделя {{ week.number }}</td>
                            <td>
                                <a href="{{ path('admin_week_edit', {id: week.id,courseId: course.id}) }}">
                                    {{ week.title }}
                                </a>
                            </td>
                            <td>{{ week.text|raw }}</td>
                            <td>{{ week.createdAt|date("d.m.yг. H:i")}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_week_edit', {id: week.id,courseId: course.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_week_delete',{id:week.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}