{% extends 'front/layouts/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="wrapper-auth" style="justify-content:center">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text-center">
                <h2 style="text-align:center">Вы авторизованы в системе</h2>
                <h3 style="text-align:center">Вы можете <a href="/">начать работу</a> с системой или <a href="{{ path('logout') }}" class="">выйти из системы </a></h3>
            </div>

        {% else %}
            {#<router-link to="/foo">Перейти к Foo</router-link>
            <router-link to="/bar">Перейти к Bar</router-link>
            <router-view></router-view>
            #}
            <login token="{{ csrf_token('authenticate') }}" uri="{{ path('ajax_login') }}"></login>
            <register token="{{ csrf_token('authenticate') }}"  uri="{{ path('register') }}"></register>
            <forget-password uri="{{ path('forget_password') }}"></forget-password>
        {% endif %}

    </div>

{% endblock %}