{% extends 'front/layouts/base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
    <div class="wrapper-auth">
        <reset-password uri="{{ path('reset_password',{hash : hash}) }}"></reset-password>
    </div>

{% endblock %}