
{% extends 'front/layouts/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {{ include('front/layouts/user.html.twig') }}
        <div class="weeks">
            <div class="container">
                <h1>{{ course.title }}</h1>
                {% for week in course.weeks %}
                    {% if openWeek.id == week.id %}
                        <div class="week open">
                            <div class="week__header">
                                <div class="week__title">Неделя {{ week.number }} : {{ week.title }}</div>
                                <div class="week__icons">
                                    {% if messages > 0 %}
                                        <div class="week__messages"><span class="week__messages-count">{{ messages }}</span> <img src="/build/img/icon-mail.png" alt=""></div>
                                    {% endif %}
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="week__content">
                                <div class="week__description">
                                    {{ week.text|raw }}
                                </div>
                                <div class="tabs js-tabs">
                                    <div class="tabs__nav week__days">
                                        {% for key, task in week.tasks %}
                                            <a class="tabs__link js-tabs__link week__day {{ task.isCurrent ? 'active' : '' }}" href="#" >
                                                <div class="week__day-icon-wrapper">
                                                    {% if task.isExpired(app.user) %}
                                                        <img src="/build/img/block_96689.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif not task.getAnswerFromUser(app.user) %}
                                                        <img src="/build/img/icon-blank.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif task.getAnswerFromUser(app.user).status == 0 %}
                                                        <img src="/build/img/icon-clock.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif task.getAnswerFromUser(app.user).status == 1 %}
                                                        <img src="/build/img/icon-ok.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif task.getAnswerFromUser(app.user).status == 2 %}
                                                        <img src="/build/img/block_96689.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif task.getAnswerFromUser(app.user).status == 3 %}
                                                        <img src="/build/img/block_96689.png" alt="" class="week__day-icon" width="28">
                                                    {% elseif task.getAnswerFromUser(app.user).status == 4 %}
                                                        <img src="/build/img/icon-blank.png" alt="" class="week__day-icon" width="28">
                                                    {% endif %}
                                                </div>
                                                <div class="week__day-title">{{ task.day }}</div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="tabs__items">
                                        {% for key, task in week.tasks %}
                                            <div class="task-content week__day-content js-tabs__tab {{ task.isCurrent ? 'active' : '' }}">
                                                {% if task.getAnswerFromUser(app.user) %}
                                                    {% if task.getAnswerFromUser(app.user).status == 0 %}
                                                        <div class="alert alert--info">
                                                            <h3>Задание отправлено на проверку.</h3>
                                                            {#<p class="alert__text">Вы можете редактировать ответ до тех пор, пока наставник с ним не ознакомится.</p>
                                                        #}
                                                        </div>
                                                    {% elseif task.getAnswerFromUser(app.user).status == 1 %}
                                                        <div class="alert alert--success"><h2>Задание принято !</h2></div>
                                                    {% elseif task.getAnswerFromUser(app.user).status == 2 %}
                                                        <div class="alert alert--fail"><h2>Задание не принято.</h2></div>
                                                    {% elseif task.getAnswerFromUser(app.user).status == 3 %}
                                                        <div class="alert alert--fail"><h2>Задание не выполнено.</h2></div>
                                                    {% endif %}
                                                    {% if task.getAnswerFromUser(app.user).comment %}
                                                        <div class="alert alert--info">
                                                            <h3>Ответ от наставника</h3>
                                                            <div class="alert__text">{{ task.getAnswerFromUser(app.user).comment|raw }}</div>
                                                        </div>

                                                {% endif %}
                                                {% elseif task.getAnswerFromUser(app.user) is null and task.isExpired(app.user)  %}
                                                    <div class="alert alert--fail"><h2>Задание просрочено.</h2></div>
                                                {% endif %}
                                                <div class="task-content__header">
                                                    <h3>{{ task.title ? 'Задание: '~task.title : 'Задание' }}</h3>
                                                    {% if task.showForm(app.user) %}
                                                        <div class="task-content__deadline">
                                                            Дедлайн через: <span class="label label--red">{{ task.getLeftToDeadline }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="task-content__description">
                                                    {{ task.text|raw }}
                                                </div>
                                                {% if task.recommendation|length > 1 %}
                                                    <h3>Рекомендации от наставника</h3>
                                                    <div class="task-content__description">
                                                        {{ task.recommendation|raw }}
                                                    </div>
                                                {% endif %}

                                                {% if task.showForm(app.user) %}
                                                    {#<form class="form js-form-answer-init task-content__form-init {{ task.getAnswerFromUser(app.user) ? '': 'active'}}" method="POST" action="{{path('post_task_answer',{id:task.id})}}">
                                                        <button class="btn" type="submit">Написать ответ</button>
                                                    </form>#}
                                                    <form class="form js-form task-content__form {{ task.getAnswerFromUser(app.user) ? 'active': ''}}" method="POST" action="{{path('post_task_answer',{id:task.id})}}">
                                                        <div class="form__group">
                                                            <textarea class="form__text-input js-textarea" name="text"  cols="30" rows="4" placeholder="Добавьте ответ или ссылку на документ">{% if task.getAnswerFromUser(app.user) %}{{ task.getAnswerFromUser(app.user).text }}{% endif %}</textarea>
                                                            {#
                                                            <uploader
                                                                    upload-url="{{ path('task_answer_add_image',{id:task.id}) }}"
                                                                    remove-url="{{ path('task_answer_remove_image')}}"
                                                                    task-images="{{ task.getAnswerFromUser(app.user) ?task.getAnswerFromUser(app.user).getJsonImages :'[]' }}"
                                                            ></uploader>
                                                            #}
                                                        </div>
                                                        {#<div class="form__group">

                                                            <input class="inputfile js-inputfile" id="inputfile{{ task.id }}" type='file' name='files[]' multiple accept=".png, .gif, .jpeg" data-multiple-caption="({count} выбрано)">
                                                            <label for="inputfile{{ task.id }}">Прикрепить файлы <span></span></label>

                                                            <input class="inputfile js-inputfile" id="inputfile2{{ task.id }}" type='file' name='files[]' multiple accept=".png, .gif, .jpeg" data-multiple-caption="({count} выбрано)">
                                                            <label for="inputfile2{{ task.id }}">Прикрепить файлы <span></span></label>

                                                            <input class="inputfile js-inputfile" id="inputfile3{{ task.id }}" type='file' name='files[]' multiple accept=".png, .gif, .jpeg" data-multiple-caption="({count} выбрано)">
                                                            <label for="inputfile3{{ task.id }}">Прикрепить файлы <span></span></label>

                                                            <input class="inputfile js-inputfile" id="inputfile4{{ task.id }}" type='file' name='files[]' multiple accept=".png, .gif, .jpeg" data-multiple-caption="({count} выбрано)">
                                                            <label for="inputfile4{{ task.id }}">Прикрепить файлы <span></span></label>

                                                            <div class="tooltip js-tooltip">
                                                                <img src="/build/img/icon-info.png" alt="" class="tooltip__img">
                                                                <div class="tooltip__content">
                                                                    <p>Допустимые форматы файла: png, jpg, gif.</p>
                                                                    <p>Размер файла не должен превышать 4,5 Мб</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="task-content__images js-images">
                                                            {% if task.getAnswerFromUser(app.user) %}
                                                                {% if task.getAnswerFromUser(app.user).hasImages %}
                                                                    {% for image in task.getAnswerFromUser(app.user).answerImages %}
                                                                        <img class="task-content__image" src="{{ image.filepath }}">
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>#}
                                                        <div class="js-alerts-container"></div>
                                                        <div class="btn-wrapper text-right">
                                                            <button class="" type="submit">Отправить</button>
                                                        </div>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if week.isEnabled %}
                            <a class="week" href="{{ path('course_index', {id:course.id, number:week.number}) }}">
                                <div class="week__header">
                                    <div class="week__title">Неделя {{ week.number }} : {{ week.title }}</div>
                                    <div class="arrow"></div>
                                </div>
                            </a>
                        {% else %}
                            <span class="week disabled">
                                <div class="week__header">
                                    <div class="week__title">Неделя {{ week.number }} : {{ week.title }}</div>
                                    <div class="arrow"></div>
                                </div>
                            </span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}