<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    <title>{% block title %}Revuer{% endblock %}</title>
</head>
<body>
<div id="app">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

</body>
</html>