<div class="user">
    <div class="container">
        <a href="/" class="logo-wrapper"><img src="/build/img/logo.png" alt="" class="logo"></a>
        <div class="user-wrapper">
            <div class="user__avatar">
                <avatar
                        user-avatar="{{ app.user.profile.avatar ? app.user.profile.avatar : '/build/img/avatar_blank.png' }}"
                        url="{{ path('user_upload_avatar') }}"
                ></avatar>
            </div>
            <div class="user-caption">
                <span class="user-caption__name">{{ app.user.profile.name }} {{ app.user.profile.secondName }}</span>
                <span class="user-caption__place">{{ app.user.profile.city }}, {{ app.user.profile.age }}</span>
                <span class="user-caption__profession">{{ app.user.profile.profession }}</span>
                <p class="user-caption__description">{{ app.user.profile.about }}</p>
                <ul class="user-caption__controls">
                    <li class="user-caption__controls__item">
                        <a href="{{ path('user_profile_index') }}"><img src="/build/img/edit.svg" alt="edit-icon" class="user-caption__controls__img"></a>
                    </li>
                </ul>
            </div>
        </div>
        {#
        {% if course is defined %}
            <div class="user__progress">
                <div class="user__progress-title">
                    Прогресс обучения
                </div>
                <div class="progressbar">
                    {% for task in course.tasks %}
                        {% if task.isExpired(app.user) %}
                            <div class="progressbar__item progressbar__item--fail"></div>
                        {% elseif not task.getAnswerFromUser(app.user) %}
                            <div class="progressbar__item progressbar__item--blank"></div>
                        {% elseif task.getAnswerFromUser(app.user).status == 0 %}
                            <div class="progressbar__item progressbar__item--clock"></div>
                        {% elseif task.getAnswerFromUser(app.user).status == 1 %}
                            <div class="progressbar__item progressbar__item--success"></div>
                        {% elseif task.getAnswerFromUser(app.user).status == 2 %}
                            <div class="progressbar__item progressbar__item--fail"></div>
                        {% elseif task.getAnswerFromUser(app.user).status == 3 %}
                            <div class="progressbar__item progressbar__item--fail"></div>
                        {% elseif task.getAnswerFromUser(app.user).status == 4 %}
                            <div class="progressbar__item progressbar__item--blank"></div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        {% endif %}
        #}
    </div>
</div>