
{% extends 'front/layouts/base.html.twig' %}
{% block body %}

    {% if user.profile ==NULL %}
        <div class="profile-wrapper">
            <div class="form__title">
                Расскажите другим пользователям<br>
                о себе и своей деятельности,<br>
                заполнив поля ниже<br>
            </div>
            <profile uri="{{ path('user_save_profile') }}"></profile>
        </div>
    {% else %}
        <div class="wrapper">
            {{ include('front/layouts/user.html.twig') }}
            <div class="courses">
                <div class="container">
                    <div class="courses__header">
                        {% if not user.courses|length %}
                            Активируй свое обучение
                        {% else %}
                            Выполни задание
                        {% endif %}
                    </div>
                    {% for course in courses %}
                        <div class="course">
                            <div class="course__img-wrapper">
                                <img src="{{ course.image }}" alt="" class="course__img">
                            </div>
                            <div class="course__about">
                                <a href="{{ course.link }}" target="_blank" class="course__title">{{ course.title }}</a>
                                <div class="course__teacher">{{ course.teachers }}</div>
                            </div>
                            <div class="course__actions">
                                <div class="course__status js-course-status">
                                    {% if course.hasUser(user) %}
                                        <a href="{{ path('course_index',{id:course.id,number:course.getCurrentWeekNumber}) }}">Выполнить задание</a>
                                    {% elseif course.hasUnactivatedUser(app.user)  %}
                                        Идет активация
                                    {% else %}
                                        <a href="#" class="js-activate-education"
                                           data-url="{{ path('post_activation_request') }}"
                                           data-id="{{ course.id }}"
                                        >Активировать</a>
                                    {% endif %}
                                </div>
                                <div class="course__date">
                                    начало {{ course.dateStart|date_modify("+1 week")|date('d-m-Y') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}