
{% extends 'front/layouts/base.html.twig' %}
{% block body %}
    <div class="profile-wrapper">
        <div class="form__title">
            Расскажите другим пользователям<br>
            о себе и своей деятельности,<br>
            заполнив поля ниже<br>
        </div>
        <profile
                uri="{{ path('user_save_profile') }}"
                name="{{ profile.name }}"
                second-name="{{ profile.secondName }}"
                birthday="{{ profile.birthday|date('Y-m-d') }}"
                city="{{ profile.city }}"
                profession="{{ profile.profession }}"
                about="{{ profile.about }}"
        ></profile>
    </div>
{% endblock %}