<% var data = {
  title: "Revuer",
  tabs: [
    {
      href: "subscription",
      data: "Подписка"
    },
    {
      href: "authorization",
      data: "Авторизация"
    },
    {
      href: "profile",
      data: "Профиль"
    },
    {
      href: "help",
      data: "Помощь"
    },
    {
      href: "mentoring-student",
      data: "Наставничество"
    }
  ],
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="wrapper-cabinet">
  <ul class="cabinet accordion">
    <li class="cabinet__item">
      <div class="cabinet__description">
        <span class="cabinet__description__text">Подписка</span>
      </div>

      <img src="img/arrow-down.svg" alt="cabinet__icon" class="cabinet__icon">
    </li>

    <div class="accordion-content">
      <%= _.template(require('./../includes/subscription.html'))(data) %>
    </div>

    <li class="cabinet__item">
      <div class="cabinet__description">
        <span class="cabinet__description__text">Авторизация</span>
      </div>

      <img src="img/arrow-down.svg" alt="cabinet__icon" class="cabinet__icon">
    </li>

    <div class="accordion-content">
      <%= _.template(require('./../includes/authorization.html'))(data) %>
    </div>

    <li class="cabinet__item">
      <div class="cabinet__description">
        <span class="cabinet__description__text">Профиль</span>
      </div>

      <img src="img/arrow-down.svg" alt="cabinet__icon" class="cabinet__icon">
    </li>

    <div class="accordion-content">
      <%= _.template(require('./../includes/profile.html'))(data) %>
    </div>

    <li class="cabinet__item">
      <div class="cabinet__description">
        <span class="cabinet__description__text">Помощь</span>
      </div>

      <img src="img/arrow-down.svg" alt="cabinet__icon" class="cabinet__icon">
    </li>

    <div class="accordion-content">
      <%= _.template(require('./../includes/help.html'))(data) %>
    </div>

    <li class="cabinet__item">
      <div class="cabinet__description">
        <span class="cabinet__description__text">Наставничество</span>
      </div>

      <img src="img/arrow-down.svg" alt="cabinet__icon" class="cabinet__icon">
    </li>

    <div class="accordion-content">
      <%= _.template(require('./../includes/mentoring-student.html'))(data) %>
    </div>
  </ul>
  
  <div class="content">
    <%= _.template(require('./../includes/tabs.html'))(data) %>
  
    <%= _.template(require('./../includes/profile.html'))(data) %>

    <%= _.template(require('./../includes/help.html'))(data) %>

    <%= _.template(require('./../includes/subscription.html'))(data) %>

    <%= _.template(require('./../includes/mentoring-student.html'))(data) %>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %> 