<% var data = {
  title: "Revuer",

  dropdownItems: ["Сменить аватарку", "Переименовать", "Остановить чат", "Удалить чат"]
}; %>

<div class="wrapper-chat-header">
  <%= _.template(require('./../includes/header.html'))(data) %>
</div>

<div class="wrapper">
  <div class="chat">
    <div class="chat__header">
      <img src="./img/arrow-back.svg" alt="back" class="chat__header__back">

      <h1 class="chat__header__title">Мастер-классы в сентябре</h1>

      <%= _.template(require('./../includes/dropdown.html'))(data) %>

      <img src="./img/avatar.jpg" alt="avatar" class="chat__header__avatar">
    </div>

    <div class="chat__content">
      <div class="chat__item">
        <img src="./img/avatar.jpg" alt="avatar" class="chat__item__avatar">

        <div class="chat__item__content-wrapper">
          <span class="chat__item__author">Егор Шведов</span>

          <span class="chat__item__time">сегодня, 12:05 начинает чат</span>

          <p class="chat__item__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
          
          <span class="chat__item__time--mobile">сегодня, 12:05 начинает чат</span>
        </div>
      </div>

      <div class="chat__item">
        <img src="./img/avatar.jpg" alt="avatar" class="chat__item__avatar">

        <div class="chat__item__content-wrapper">
          <span class="chat__item__author">Игорь Петров</span>

          <span class="chat__item__time">сегодня, 12:05 начинает чат</span>

          <p class="chat__item__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>
        
          <span class="chat__item__time--mobile">сегодня, 12:05 начинает чат</span>
        </div>
      </div>

      <div class="chat__item">
        <img src="./img/avatar.jpg" alt="avatar" class="chat__item__avatar">

        <div class="chat__item__content-wrapper">
          <span class="chat__item__author">Антон Кочергин</span>

          <span class="chat__item__time">сегодня, 12:05 начинает чат</span>

          <p class="chat__item__content">Фотка Лондона, пацаны</p>

          <img alt="post_video" src="img/post-video.jpg" class="chat__item__img">
        
          <span class="chat__item__time--mobile">сегодня, 12:05 начинает чат</span>
        </div>
      </div>
      
      <div class="chat-new">
        <img src="img/avatar.jpg" alt="avatar" class="chat-new__avatar">
        <img src="img/message.svg" alt="file" class="chat-new__file--mobile">

        <textarea class="chat-new__field" rows="1" placeholder="Сообщение..."></textarea>

        <div class="chat-new__controls">
          <img src="img/attach.svg" alt="file" class="chat-new__file">
          
          <img src="img/message.svg" alt="send-icon" class="chat-new__send">
        </div>
      </div>
    </div>

    <div class="chat-new--mobile">
      <img src="img/avatar.jpg" alt="avatar" class="chat-new--mobile__avatar">
      <img src="img/attach.svg" alt="file" class="chat-new--mobile__file--mobile">

      <textarea class="chat-new--mobile__field" rows="1"  placeholder="Ваш комментарий..."></textarea>

      <div class="chat-new--mobile__controls">
        <img src="img/attach.svg" alt="file" class="chat-new--mobile__file">
        
        <img src="img/message.svg" alt="send-icon" class="chat-new--mobile__send">
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>