<% var data = {
  title: "Revuer",
  tabs: [
    {
      href: "articles",
      data: "Мои статьи"
    },
    {
      href: "chats",
      data: "Чаты"
    },
    {
      href: "articles",
      data: "Отложенные"
    },
    {
      href: "subscriptions",
      data: "Подписки"
    },
    {
      href: "subscribers",
      data: "Подписчики"
    }
  ],
  tabsMobile: [
    {
      href: "articles",
      data: "Статьи",
      img: "./img/notes.svg",
      activeImg: "./img/notes_active.svg"
    },
    {
      href: "chats",
      data: "Чаты",
      img: "./img/chat.svg",
      activeImg: "./img/chat_active.svg"
    },
  ],
  dropdownItems: ["Сменить аватарку", "Переименовать", "Остановить чат", "Удалить чат"]
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="wrapper">
  <div class="author">
    <div class="author-wrapper">
      <div class="author-caption--mobile">
        <div class="author__avatar">
          <img src="img/avatar.jpg" alt="avatar" class="author__avatar__img">
       
          <div class="author__avatar__controls-wrapper">
            <div class="author__avatar__controls">
              <img src="img/edit_white.svg" alt="avatar__icon" class="author__avatar__controls--icon">
              
              <img src="img/settings_white.svg" alt="avatar__icon" class="author__avatar__controls--icon">
            </div>
          </div>
        </div>

        
        <div class="author__short-description">
          <span class="author-caption__name">Евгений Дюжакин</span>
      
          <span class="author-caption__place">Москва, 25</span>
    
          <span class="author-caption__profession">Фэшн фотограф, портрет, фото</span>
        </div>
      </div>
  
      <div class="author-caption">
        <span class="author-caption__name">Евгений Дюжакин</span>
        
        <span class="author-caption__place">Москва, 25</span>
  
        <span class="author-caption__profession">Фэшн фотограф, портрет, фото</span>
  
        <p class="author-caption__description">О себе: душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.</p>
  
        <span class="author-caption__trigger">Показать полностью »</span>

        <ul class="subscribers accordion">
          <li class="subscribers__item">
            <div class="subscribers__description">
              <span class="subscribers__description__text">Подписки</span>
              <span class="subscribers__description__qty">17</span>
            </div>

            <img src="img/arrow-down.svg" alt="subscribers__icon" class="subscribers__icon">
          </li>

          <div class="accordion-content">
            <%= _.template(require('./../includes/subscriptions.html'))(data) %>
          </div>

          <li class="subscribers__item">
            <div class="subscribers__description">
              <span class="subscribers__description__text">Подписчики</span>
              <span class="subscribers__description__qty">132</span>
            </div>

            <img src="img/arrow-down.svg" alt="subscribers__icon" class="subscribers__icon">
          </li>

          <div class="accordion-content">
            <%= _.template(require('./../includes/subscribers.html'))(data) %>
          </div>
        </ul>
  
        <ul class="author-caption__controls">
          <li class="author-caption__controls__item">
            <img src="img/edit.svg" alt="edit-icon" class="author-caption__controls__img">
          </li>
          
          <li class="author-caption__controls__item">
            <img src="img/ruble_red.svg" alt="rubble-icon" class="author-caption__controls__img author-caption__controls__img--ruble">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content author-content">
    <%= _.template(require('./../includes/tabs.html'))(data) %>

    <%= _.template(require('./../includes/tabs-mobile.html'))(data) %>

    <div class="dropdown--author">
      <img src="img/cross_active.svg" alt="dropdown-toggle--icon" class="dropdown-toggle--icon">

      <span class="dropdown-toggle--author">+</span>
      
      <ul class="dropdown-list--author">
        <li class="dropdown-list--author__item">
          <a href="#" class="dropdown-list--author__link">Новая статья</a>
        </li>

        <li class="dropdown-list--author__item">
          <a href="#" class="dropdown-list--author__link"> Новый чат</a>
        </li>
      </ul>
    </div>
      
    
    <ul class="chats" id="chats">
      <li class="chats__item">
        <div class="chats__item__content">
          <img src="img/avatar.jpg" alt="chat_icon" class="chats__item__img">
  
          <div class="chats__item__short-description">
            <span class="chats__item__title">Мастер-классы в сентябре</span>
            <span class="chats__item__time--mobile">вчера в 22:50</span>
  
            <span class="chats__item__from">Егор Жданов: <span class="chats__item__message">было бы удобней во второй половине дня конечно ))</span></span>
          </div>
        </div>

        <div>
          <%= _.template(require('./../includes/dropdown.html'))(data) %>

          <span class="chats__item__time">вчера в 22:50</span>
        </div>

        <span class="chats__item__from chats__item__from--mobile">Егор Жданов: <span class="chats__item__message">было бы удобней во второй половине дня конечно ))</span></span>
      </li>

      <li class="chats__item">
        <div class="chats__item__content">
          <img src="img/avatar.jpg" alt="chat_icon" class="chats__item__img">
  
          <div class="chats__item__short-description">
            <span class="chats__item__title">Алтай август</span>
            <span class="chats__item__time--mobile">вчера в 22:50</span>

            <span class="chats__item__from">Саша саша: <span class="chats__item__message">в ПТ встречаемся или нет?</span></span>
          </div>
        </div>
        
        <div>
          <%= _.template(require('./../includes/dropdown.html'))(data) %>
          
          <span class="chats__item__time">вчера в 22:50</span>
        </div>

        <span class="chats__item__from chats__item__from--mobile">Саша саша: <span class="chats__item__message">в ПТ встречаемся или нет?</span></span>
      </li>

      <li class="chats__item">
        <div class="chats__item__content">
          <img src="img/avatar.jpg" alt="chat_icon" class="chats__item__img">

          <div class="chats__item__short-description">
            <span class="chats__item__title">Revuer team</span>
            <span class="chats__item__time--mobile">вчера в 22:50</span>
  
            <span class="chats__item__from">Соня Хватова: <span class="chats__item__message">Отправьте паспортные данные</span></span>
          </div>
        </div>
        
        <div>
          <%= _.template(require('./../includes/dropdown.html'))(data) %>
          
          <span class="chats__item__time">вчера в 22:50</span>
        </div>

        <span class="chats__item__from chats__item__from--mobile">Соня Хватова: <span class="chats__item__message">Отправьте паспортные данные</span></span>
      </li>
    </ul>

    <%= _.template(require('./../includes/articles.html'))(data) %>

    <%= _.template(require('./../includes/subscriptions.html'))(data) %>

    <%= _.template(require('./../includes/subscribers.html'))(data) %>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
