<% var data = {
  title: "Revuer"
}; %>
<%= _.template(require('./../includes/header-login.html'))(data) %>

<div class="wrapper-login">
  <div class="login">
    <img src="./img/login-img.png" alt="login-img" class="login__img">

    <form class="login-form">
      <div class="login-form__field">
        <label for="email" class="login-form__email-label">E-mail</label>

        <input type="email" class="login-form__email-input" id="email">
      </div>

      <div class="login-form__field">
        <label for="password" class="login-form__password-label">Пароль</label>

        <input type="password" class="login-form__password-input" id="password">
      </div>

      <button class="login-form__login" type="button">Войти</button>

      <button class="login-form__register" type="button">Зарегистрироваться</button>

      <a href="#" class="login-form__demo">Демо-режим</a>
    </form>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>