<% var data = {
  title: "Revuer"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="wrapper">
  <div class="post">
    <div class="post__header">
      <img class="post__header__avatar" alt="avatar" src="img/avatar.jpg">

      <div class="post__header__content">
        <span class="post__header__author">Сергей Шкет</span>

        <h2 class="post__header__title">«Техническая съемка: свет, аппаратура»</h2>
        
        <span class="post__header__time">вчера в 10:59</span>
      </div>

      <div class="post__header__controls">
        <img class="post__header__edit" alt="avatar" src="img/edit.svg">

        <div class="post__header__views">
          <img class="post__header__views-img" alt="avatar" src="img/view.svg">

          <span class="post__header__views-text">93</span>
        </div>
      </div>
    </div>

    <div class="post__content">
      <p class="post__content__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.</p>

      <img alt="post_video" src="img/post-video.jpg" class="post__content__video">

      <span class="post__content__comments">Комментарий к фото или видео</span>

      <p class="post__content__text">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. </p>
      
      <img alt="post_video" src="img/post-video.jpg" class="post__content__video">

      <span class="post__content__comments">Комментарий к фото или видео</span>
      
      <p class="post__content__text">Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!"</p>
    
      <div class="post__content__controls">
        <img class="post__content__controls__bookmark" src="img/bookmark.svg" alt="bookmark">

        <div class="post__content__controls__share">
          <img class="post__content__controls__share-img" src="img/share.svg" alt="bookmark">
          
          <span class="post__content__controls__share-text">13</span>
        </div>

        <div class="post__content__controls__comments">
          <img class="post__content__controls__comments-img" src="img/comments.svg" alt="comments">

          <span class="post__content__controls__comments-text">6</span>
        </div>
      </div>

      <div class="post__content__controls--mobile">
        <img class="post__content__controls--mobile__edit" src="img/edit.svg" alt="edit">

        <img class="post__content__controls--mobile__bookmark" src="img/bookmark.svg" alt="bookmark">
        
        <div class="post__content__controls--mobile__comments">
          <img class="post__content__controls--mobile__comments-img" src="img/comments.svg" alt="comments">

          <span class="post__content__controls--mobile__comments-text">6</span>
        </div>

        <div class="post__content__controls--mobile__share">
          <img class="post__content__controls--mobile__share-img" src="img/share_active.svg" alt="share">
          
          <span class="post__content__controls--mobile__share-text">13</span>
        </div>

        <div class="post__content__controls--mobile__views">
          <img class="post__content__controls--mobile__views-img" alt="view" src="img/view.svg">

          <span class="post__content__controls--mobile__views-text">93</span>
        </div>
      </div>
    </div>
  </div>

  <div class="comments">
    <span class="comments__header">Комментарии</span>

    <div class="comment">
      <img src="img/avatar.jpg" alt="avatar" class="comment__avatar">

      <div>
        <span class="comment__author">Егор Шведов</span>

        <p class="comment__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>

        <span class="comment__time">сегодня в 12:05</span>

        <div class="comment__controls">
          <span class="comment__answer">Ответить</span>

          <div class="comment__like">
            <img src="img/like.svg" alt="like" class="comment__like__img">

            <span class="comment__like__text">125</span>
          </div>
        </div>
      </div>
    </div>

    <div class="comment commented">
      <img src="img/avatar.jpg" alt="avatar" class="comment__avatar">

      <div>
        <span class="comment__author">Егор Шведов</span>

        <p class="comment__content">Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель.</p>

        <span class="comment__time">сегодня в 12:05</span>

        <div class="comment__controls">
          <span class="comment__answer">Ответить</span>

          <div class="comment__like comment__like--active">
            <img src="img/like_active.svg" alt="like" class="comment__like__img">

            <span class="comment__like__text">325</span>
          </div>
        </div>
      </div>
    </div>

    <div class="comment">
      <img src="img/avatar.jpg" alt="avatar" class="comment__avatar">

      <div>
        <span class="comment__author">Егор Шведов</span>

        <p class="comment__content">Париж</p>

        <img class="comment__img" src="img/post-video.jpg" alt="comment-img">

        <span class="comment__time">сегодня в 12:05</span>

        <div class="comment__controls">
          <span class="comment__answer">Ответить</span>

          <div class="comment__like">
            <img src="img/like.svg" alt="like" class="comment__like__img">

            <span class="comment__like__text">125</span>
          </div>
        </div>
      </div>
    </div>

    <div class="comment-new">
      <img src="img/avatar.jpg" alt="avatar" class="comment-new__avatar">
      <img src="img/attach.svg" alt="file" class="comment-new__file--mobile">

      <textarea class="comment-new__field" rows="1" placeholder="Комментарий..."></textarea>

      <div class="comment-new__controls">
        <img src="img/attach.svg" alt="file" class="comment-new__file">
        
        <img src="img/message.svg" alt="send-icon" class="comment-new__send">
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>